<% get_slot.wrap("related") do |slot| %>
  <%= slot.header %> 
	<span class="fat">+</span>
	<%= get_slot(@tag).render(:line) %>

	<span class="fat">=</span>

<!--	<p><em> Here's where you can explain how <%= link_to_page @tag.name %> relates 
	  to  <%= link_to_page( formal_title(@card), @card.name ) %>.  </em>
	</p>
-->
  <%= render :partial=>"edit", :locals=>{ :card=>@connection,:render_slot=>true } %>
	<%= slot.notice %>
<% end %>
