.idea/
.bundle/
.rvmrc
config/amazon_s3.yml
config/database.yml
config/newrelic.yml
config/wagn.rb
coverage
log/*
pkg
public/files
public/card_files
public/card_images
public/assets
public/file
public/image
public/javascripts/base*
public/javascripts/inline-console.js
public_scripts
public/stylesheets/base*
public/stylesheets/local.css
script/performance/*.session
test/unit/tmp_test.rb
tmp/*
vendor/plugins/
sv/
*.out
*.diff
*.list
