.idea/
.rvmrc
.bundle
config/*.yml
config/wagn.rb
coverage
.jhw-cache
log/*
pkg
public/card_files
public/card_images
public/file
public/image
public/javascripts/inline-console.js
local*
script/local
script/performance/*.session
tmp/*
/*.project
*.sqlite3
