.idea/
.rvmrc
.bundle
config/*.yml
config/wagn.rb
coverage
.jhw-cache
log/*
pkg
public/test
public/files
public/assets/.htaccess
public/javascripts/inline-console.js
local*
script/local
script/performance/*.session
tmp/*
wagn*gem
*.project
*.sqlite3
*.DS_Store
*.swp
