card/**/lib/**/*.rb                       \
wagn/**/lib/**/*.rb                       \
wagn/rails/**/*.rb                     \
decko-rails/lib/**/*.rb                \
../sites/core-dev/tmp/set*/**/*.rb -   \
**/*.rdoc                              \
card/GPL                               \
card/LICENSE                           \
card/VERSION
