
<h1>Recent Changes</h1>

<%= render :partial=>'block/options' %>

<div id="recent-list" class="card-list"></div>

<script>
  function init_lister() {
    lister = new Wagn.Lister('recent-list');
    lister.display_type('recent_list');
    // FIXME -- keyword needs escaping!!
    lister.query('recent_changes');
    return lister;
  }
</script>
