<% if key = System.google_maps_api_key %>

<% else %>
  To use Wagn's google maps functionality, you need to 
  <a href="http://code.google.com/apis/maps/signup.html">get a google maps api key</a> for this domain.  Then set System.google_maps_api_key in config/wagn.rb.
<% end %>