<% options = options_from_collection_for_select(card.options,:name,:name,slot.card.pointees) %>
<% field_name = slot.form.text_field(:pointees).match(/name=\"([^\"]*)\"/)[1] %>
<%= select_tag field_name, options, :multiple=>true, :id=>"#{slot.context}-multiselect", :class=>'pointer-multiselect' %>    
    