<% options = options_from_collection_for_select(card.options,:name,:name,slot.card.pointees) %>
<%= select_tag slot.full_field_name(:pointees), options, :multiple=>true, :id=>"#{slot.context}-multiselect", :class=>'pointer-multiselect' %>    

    