<%= @message %>

~~~~~~~~~~~~~~~
Account Details
~~~~~~~~~~~~~~~

Email: <%= @email %>
Password: <%= @password %>

Your account card: <%= @card_url %>

Login here:  <%= @login_url %>
Change password here: <%= @pw_url %>



