<%= @message %>

~~~~~~~~~~~~~~~
Account Details
~~~~~~~~~~~~~~~

Email: <%= @email %>
Password: <%= @password %>

Your account card: <%= @card_url %>

Sign in here:  <%= @login_url %>
Change password here: <%= @pw_url %>



