<%= @name %> <<%= @email %>>  has requested an invitation for <%= @site %>, and provided the following comment:

<%= @content %>

visit <%= @url %> to confirm or deny the request.

smooches,
the Wagnbot

