<div class="admin-nav">
    <p>
      <% if System.ok? :administrate_users %>
        <%= link_to 'users', :controller=>'admin', :action=>'users' %> |
        <%= link_to 'roles', :controller=>'admin', :action=>'roles' %>
      <% end %>
      <% if System.ok? :set_global_permissions %>
        | <%= link_to 'global permissions', :controller=>'admin', :action=>'tasks' %>
      <% end %>
    </p>
</div>
