<h1>User Administration</h1>

<div id='create-button'>
  <% if Card::User.create_ok? %>
    <%= link_to 'Invite a New User', :controller=>'account', :action=>'invite' %>
  <% end %>
</div>

<%= get_slot(Card.find_phantom('User+*type cards')).render :content %>