<div class="instruction">
  <%= Wagn::Pattern.label(card.name)%>
</div>
<br />

<h2>Settings</h2>
<%= slot.subslot(Card::Search.new(:name=>UUID.new.generate, 
     :content=>%{{"prepend":"#{card.name}", "type":"Setting", "sort":"name"}} #, "left_plus":{"right":"*type"}}}
     )).render :content %>

<br />
<h2>Cards in Set</h2>
{{<%=card.name%>+by update}}
