require File.dirname(__FILE__) + '<%= '/..' * class_nesting_depth %>/../../test_helper'

class <%= class_name %>DatatypeTest < Test::Unit::TestCase
  def setup
    @tag = Tag.new( :name=>'datatype_tester',:datatype_key=>"<%= datatype_name %>" )
    @card = Card::Basic.new( :tag=>@tag )
    @datatype = @tag.datatype
  end
  
  # Replace this with your real tests.
  def test_render
    # test me!!
  end
end
