 #primary {margin: 0 1%; float: left; width: 67%}
#secondary {margin: 0 1%; float: right; width: 28%}
 #menu {display: block; font-size: 14px; background: #005800; margin-bottom: 20px; padding: 2px}
#menu a {color: white; padding: 0px 4px}
#menu div {display: inline}
#menu #logging { position: absolute; right: 0.5%; top: 2px}
#my-card-link {font-weight: bold}
#navbox_background {margin: 0 8px; margin-bottom: 2px; background: #ffc;  border: 1px solid #aaa; border-top: 2px solid #666; border-left: 2px solid #666}
html>body #navbox_background {padding: 2px 0px}
 #navbox_background #navbox_image {padding: 2px 8px; background: url(/images/search.gif) no-repeat right}
html>body #navbox_background #navbox_image {background-image: url(/images/search.png)}
#navbox_field, #navbox_field:focus {padding: 0px 3px; margin: 0px; height: 18px; width: 30%; position: relative; z-index: 1; font-size: 13px; border: 0px; background: #ffc}
#navbox_field_auto_complete {background: #eee width: auto}
#navbox_field_auto_complete .informal {color: #777; font-size: 10px}
#navbox_field_auto_complete a {display: inline; padding: 3px 8px; margin-right: 4px}
 #logo {text-align: center; padding: 10px 0px; background: #fff; border: 1px solid #777; -moz-border-radius: 8px; border-radius: 8px}
#logo a, #logo a:link, #logo a:visited {color: #448; text-decoration: none; text-align: center}
#credit {margin: 30px 0; padding: 5px; text-align: center; color: #333; background: #bbb; border: 1px solid #666}
#alerts {padding: 2px 9px; -moz-border-radius: 8px; border-radius: 8px; color: #555; font-weight: bold; z-index: 4}
html>body #alerts { position: fixed !important; bottom: 0px; right: 0px; display: block; background: #eee; moz-border-radius: 8px 0px 0px 0px; border-radius: 8px 0px 0px 0px; border: 1px solid #ccc; border-bottom: 0px; border-right: 0px}
#alerts div {display: none}
 .fieldset {width: 100%}
.fieldset td {padding: 5px 3px 5px 3px; border-bottom: 1px solid #ddd}
.fieldset .label {text-align: right; white-space: nowrap; padding-right: 6px; vertical-align: middle}
.fieldset .field {width: 25%; vertical-align: middle; padding: 7px }
.fieldset .help {padding-left: 6px; width: 50%}
.fieldset input[type=submit] {margin: 6px }
 .help, .instruction {background: #eec; color: #440; font-style: italic; text-align: center; padding: 4px 10px}
#new-card .main-instruction {margin-bottom: 20px}
 div.auto_complete {width: 350px; background: #fff; text-align: left; position: relative; overflow: visible; z-index: 10 }
div.auto_complete ul {border:1px solid #888; background: #fff; margin:0; padding:0; width:100%; list-style-type:none}
div.auto_complete ul li {margin:0; padding:3px}
div.auto_complete ul li.selected {background-color: #ffb}
div.auto_complete ul strong.highlight {color: #444; margin:0; padding:0}
 .exception p {margin: 15px}
.error-explanation {margin: 10px; padding: 10px; border: 3px solid #966; background: #ffa; -moz-border-radius: 8px; border: 1px solid #777; border-bottom: 2px solid #888; border-right: 2px solid #888}
.inclusion-error {background-color: #ecc !important; padding: 1px 20px; font-style: italic}
  #sign-in p {margin: 5px}
#sign-in input#login_field, #sign-in input#password, #sign-in input#email {width: 50%}
 #role_task {margin-bottom: 2em; padding: 3px}
.role {text-align: center; padding: 2px 8px}
.task {padding: 2px}
body {color: #444; font-style: normal; margin: 0px}
body#wagn {background: url(/images/body-bg.bmp) repeat-x #cdb}
body, p, ol, ul, td, th, input, textarea {font-family: verdana, arial, helvetica, sans-serif; font-size: 12px; font-weight: normal}
body, p, ol, ul {line-height: 21px}
 h1 {font-size: 15px}
h2 {font-size: 13px}
h1, h2 {color:#644; font-weight: bold; margin: 0px}
 h1.page-header, h2.page-header {color: #22d; font-weight: normal; margin: 0 0 10px 0}
a {color: #484}
a:link, a:visited {text-decoration: none}
a:hover, a:focus {text-decoration: underline}
table {border-collapse: collapse; padding: 0}
th {color: #666; font-weight: normal; font-style: italic}
td, th {vertical-align: top; padding: 0px}
.table-row-odd {background: #cce}
 input[type=text], #navbox_background, input[type=password], input[type=checkbox], textarea, select {padding-left: 3px; border: 1px solid #aaa; border-top: 2px solid #666; border-left: 2px solid #666; font-size: 12px; color: #555; background: #ffc}
input[type=submit], input[type=button] {background: #99a; color: #ffd; font-size: 11px; border: 1px solid #bbb; border-right: 1px solid #666; border-bottom: 1px solid #666; margin: 5px; padding: 0px 6px}
input:focus, select:focus, textarea:focus, div:focus#tinymce {background: #ffe}
input[type=submit]:focus, input[type=button]:focus {color: #000 }
textarea {width: 98%}
#tinymce {background: #ffe}
body.mceContentBody {margin: 4px}
 form {margin: 0px; padding: 0px; display: inline}
p {margin: 0px}
hr {margin: 10px }
img {border: 0px; vertical-align: middle}
li {margin-bottom: 2px}
label {color: #777}
pre {background-color: #eef; padding: 10px; font-family: monospace; font-size: 11px; white-space: pre-wrap;  white-space: -moz-pre-wrap;  white-space: -pre-wrap;  white-space: -o-pre-wrap;  word-wrap: break-word;  }
.card-slot {width: 100%;  margin: 0px; background: #fff; padding: 0px; -moz-border-radius: 8px; border-radius: 8px; border: 1px solid #777; border-bottom: 2px solid #888; border-right: 2px solid #888; display: block}
html>body .card-slot {width: auto;  }
.card-slot, .card-slot .ALL {overflow: hidden}
 .card-header {background: #005800; padding: 5px; margin: 0px; -moz-border-radius: 6px 6px 0 0; border-radius: 6px 6px 0 0; text-align: left}
.title-menu {line-height: 18px}
.title {margin: 0px 2px; font-weight: bold; font-size: 13px; padding: 2px 0px 2px 25px; white-space: nowrap}
.right-arrow {background: url(/images/arrow_right.gif) no-repeat left}
html>body .right-arrow {background-image: url(/images/arrow_right.png)}
.down-arrow {background: url(/images/arrow_down.gif) no-repeat left}
html>body .down-arrow {background-image: url(/images/arrow_down.png)}
.page-icon {padding: 2px 7px; background: url(/images/page.gif) no-repeat right}
html>body .page-icon {background-image: url(/images/page.png)}
.card-icon {background: url(/images/card.gif) no-repeat right}
.plus-icon {background: url(/images/plus.gif) no-repeat right}
.search-icon {background: url(/images/search.gif) no-repeat right}
 html>body .card-icon{ background-image: url(/images/card.png)}
html>body .plus-icon{ background-image: url(/images/plus.png)}
html>body .search-icon{ background-image: url(/images/search.png)}
.cardtype {font-style: italic; font-size: 10px}
.card-header, .card-header a {color: #fff }
html>body .card-menu-left, html>body .page-icon {display: none}
.line .card-header {padding-right: 22px}
.line div:hover.card-header {padding-right: 0px}
div:hover.setting .page-icon, div:hover.card-header .page-icon, div:hover.card-header .card-menu-left {display:inline}
.card-menu {float:right; white-space: nowrap; position: relative; right: 0px; z-index: 1}
.card-menu li {padding: 1px 5px; margin: 0px; -moz-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0}
.current {background: #bbb; padding-bottom: 5px !important}
.submenu {background: #bbb; padding: 0px 10px; text-align: right}
.submenu a {padding: 0px 5px; color: #005800 }
.submenu a.on {background: #fff; color: #777; padding-bottom: 3px; -moz-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0}
.card-header li {display:inline}
 .card-footer, .revision-navigation {padding: 0px 10px; font-size: 9px; text-align: left}
.card-footer, .revision-navigation {background: #bbb}
.card-footer {clear: both; -moz-border-radius: 0px 0px 6px 6px; border-radius: 0px 0px 6px 6px}
html>body .card-footer .footer-content {display: none}
div:hover.card-footer .footer-content {display: inline}
.card-footer .footer-content {width: 100%}
.card-footer .watch-link {float: right; text-align: right; white-space: nowrap}
   .faint {color: #bbc}
.joint {color: #960}
a.wanted-card {color: #900 }
a.external-link, .line .content a.external-link {color: #979; background: url(/images/external_link.png) center right no-repeat; padding-right: 13px !important}
a.email-link {color: #979 }
.open-missing {color: #99b; font-variant: small-caps}
span:hover.open-missing {color: #069; background: #ffc}
.transcluded p, .transcluded span, .transcluded a, .transcluded ul, .transcluded ol, .transcluded h1, .transcluded h2 {background-color: inherit; -moz-border-radius: inherit; border-radius: inherit}
  .new-name, .new-type {white-space: nowrap}
.new-name .title {padding-left: 2px}
.new-name .card-name-field {width: 50%}
.new-type {float: right}
.editor {display: block}
.card-slot.new-card .editor {padding: 0px}
.editor .revision-navigation, .editor .autosave-alert {display: none }
.card-name-field {background: #eef; font-weight: bold; color: #448; -moz-border-radius: 6px; border-radius: 6px; padding: 1px 5px}
.edit-area {background: #f9f9f9; border: 0px; padding: 4px}
.in-multi {background: #e3e3e3; width: 100%; padding: 1 0px; margin: 1px}
.new-type .cardtype {font-size: 14px; float:right}
.edit-area p {padding: 2px}
.edit-area input[type=submit], .edit-area input[type=button] {margin: 2px 2px; font-size: 11px; background: #ddd; color: #444; border: 1px solid #bbb; border-right: 1px solid #666; border-bottom: 1px solid #666}
ul.pointer {margin: 0px; padding: 0px}
.edit-area .label not(.fieldset) {display: block; margin: 2px; font-size: 12px}
.edit-area .field not(.fieldset) {display: block; margin: 4px}
.edit-area table {width: 98%; margin-bottom: 5px}
.edit-area .mceEditor table, .edit-area .mceEditor table td{ margin: 0px; padding:0px 1px; border: 0px}
.edit-area td {vertical-align: middle}
.edit-area .title, .transcluded .edit-area .title {display: block; font-size: 11px}
.label-in-multi {float: left; width: 25%}
.label-in-multi .title {white-space: inherit; padding: 1px 5px}
.field-in-multi {float: right; width: 70%; padding: 3px}
.edit-button-area {margin-top: 7px}
.in-multi .instruction, .in-multi .instruction p{ clear:left; border: 0px; background-color: #e3e3e3;  text-align: left; padding: 0 3px}
 div.transcluded {display: inline}
.edit-name input, .edit-type select {margin: 10px 0px}
.edit-name .instruction {text-align: left; margin: 10px}
.edit-name .radio {padding-left: 20px}
 .revision-header {background: #ddf; padding: 4px; border-bottom: 1px solid silver; text-align: center}
.revision-title {font-weight: bold}
.revision-header p {margin: 2px}
.revision {margin: 0px 1px; padding: 10px 5px; background: #ffd}
.autosave-alert {font-weight: bold}
.revision-navigation span {margin: 0px 10px }
ins.diffmod, .diffins {background: #aea}
del.diffmod, .diffdel {background: #eaa}
 .small { font-size: 10px; display: block; margin: 2px; line-height: 13px }
.template, .option-header h2 {padding: 6px ; text-align: center}
.template {background: #bdd }
.template .card-slot {text-align: left}
.new-account-link {text-align: center}
 .related.headroom h1, .related.headroom h2 {margin-top: 10px}
 .notice {background: #fff; font-weight: bold; font-style: italic; text-align: center; color: #009; display: block; margin: 0px 0px 4px 0px}
.help.content {padding: 10px; margin-top: 5px; color: #444}
.open-content,  .revision {display: block; padding: 5px 15px 10px 15px}
.instruction {border-left: 0px; border-right: 0px}
 h1.headroom, h2.headroom, .headroom h1, .headroom h2 {margin-top: 10px; padding: 6px}
.denied {display: none}
    #secondary .card-menu {display: none; float:none;  }
.none {background: #ccc; color: #999; text-align: center; text-transform: uppercase}
 body#wagn .card-slot.recent-changes h2 {margin-top: 15px}
.last-update {color: #666}
  .paragraph {margin: 1px 0px; padding: 0px !important; -moz-border-radius: 8px; border-radius: 8px}
  .content-content {display: inline; padding: 0}
.paragraph .down-arrow, .paragraph .close-link {margin: 0px 5px 0px 0px}
 .line {overflow: hidden; white-space: nowrap; border-bottom: 0px; border-color: #ccc; -moz-border-radius: 2px 8px 2px 2px !important; border-radius: 2px 8px 2px 2px !important; padding: 0px; margin: 0px; line-height: 25px;  height: 25px}
.line .content, .line .card-header {display: inline; float: left; vertical-align: center}
.line .card-header {line-height: 15px; -moz-border-radius: 0px 6px 6px 0px; border-radius: 0px 6px 6px 0px; padding-top: 4px; padding-bottom: 3px; margin-right: 4px}
.line tr, .line td, .line p, .line h1, .line h2, .line h3, .line h4, .line h5, .line h6, .line ul, .line li, .line pre, .line ol, .line hr, .line .content div, .line .content span, .line .content, .line .workspace, .line .content a, .line blockquote {display: inline; margin: 0px 4px; padding: 0px !important; border: 0px !important; font-size: 11px !important; white-space: nowrap; float: none !important}
.line .content a {margin: 0px}
.line .content img {height: 16px; width: auto; float: none; padding: 0px}
.line br, .line hr, .line input, .line textarea, .line object, .line .comment-box, .line .table-of-contents, .line .card-menu, .line .card-footer, .line .close-link {display: none !important}
 .change-view {padding: 5px 0px; border-bottom: 1px dotted grey; clear: both}
.change-view .change-card{ font-weight: bold; float: left}
.change-view .last-update {float:right; text-align: right}
.change-view .last-edited {color: #7a7}
.change-view .last-editor {white-space: nowrap}
 .card-slot .card-slot.line, .card-slot .card-slot {border: 1px solid white; border-bottom: 1px solid #ccc; -moz-border-radius: 0px; border-radius: 0px; margin: 0px}
.card-slot .card-slot .card-footer {-moz-border-radius: 0px; border-radius: 0px}
.card-slot span:hover.card-slot {border: 1px solid #ddd; -moz-border-radius: 8px 8px 0 0; border-radius: 8px 8px 0 0}
  .table-of-contents {background: #eee; -moz-border-radius: 10px; border-radius: 10px; padding: 4px; margin: 5px 20px 20px 20px}
.table-of-contents h5 {margin: 0px 0px 0px 40px}
.table-of-contents ol {list-style-type: upper-roman}
.table-of-contents ol ol {list-style-type: upper-alpha; padding-left: 25px }
 .pointer input {float: left; width: 60%}
.pointer li {list-style: none}
.pointer .delete {margin-left: 4px; font-weight: bold; color: #933; font-size: 15px}
 .phrasebox {width: 98%}
 .content .paging img {float: none !important; padding: 0px 3px; margin: 0px}
.search-no-results:after {content:'0 results'}
 div.pointer-list, div.search-result-list {list-style: none; padding: 5px 0; margin: 0}
div.pointer-list .pointer-item, div.search-result-list .search-result-item {margin: 0}
.search-result-item.item-link, .pointer-item.item-link, .search-result-item.item-name, .pointer-item.item-name {display: block; text-indent: -15px; padding-left: 15px}
.radio-option-description, .checkbox-option-description {margin-left: 40px}
  .paragraph .TYPE-image .content { padding: 5px}
 .TYPE-toggle .content {font-style: italic}
 .invite-links {padding: 10px; margin-top: 10px; border: 1px solid #66b}
.invite-links a {font-style: normal; font-weight: bold; margin-right: 20px}
 table.permission-editor th {text-align: left; padding-left: 20px; background-color: inherit; border: 0; color: #666}
table.permission-editor td {padding: 5px; vertical-align: top}
table.permission-editor .pointer-text {width: 200px}
 .comment-box textarea {margin-bottom:5px}
.comment-box input {padding: 0px; font-size: 12px}
.comment-box {background: #cce; padding: 8px; margin: 0px}
  .settings-tab {border: 0px; margin-bottom: 20px; padding: 5px 15px}
.set-rules {width: 100%}
.set-rules th {background: #aaa; color: #eee; padding: 5px 0}
.set-rules th, .set-rules td {text-align: left; display: table-cell; border-bottom: 1px solid #eee; padding: 2px 5px}
.rule-setting {font-weight: bold}
.rule-type {color: #666}
.rule-set {font-style: italic; color: #999}
.rule-content {width: 200px}
.rule-content div {padding: 0}
.rule-content-container.line {width: 200px; overflow: hidden; text-overflow: ellipsis; line-height: inherit}
.rule-content-container.line .pointer-list, .rule-content-container.line .search-list, .rule-content-container.line .content {margin: 0}
td.missing-rule {background-color: #eee; border-bottom: 1px solid #fff}
.edit-rule {background-color: #ffe }
.edit-rule-content {width: 550px; float: right}
.edit-rule-header {padding: 10px 0; margin-left: -15px}
.edit-rule-header-title {font-weight: bold; font-size: 13px; margin-right: 10px}
.edit-rule-header-intro {color: #666; font-style: italic}
.edit-rule-section {padding-bottom: 15px}
.edit-rule ul {margin: 0px; padding-left: 15px}