.card-slot { 
  width: auto;
  margin: 0px;
  background: #fff;
  padding: 0px;
  -moz-border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #bbb;
  border-right: 2px solid #bbb;
  display: block;
}


/*----- header ---------*/


.card-slot .card-header {
  padding: 0px 2px;
  margin: 0px 5px 5px 5px;
}
.card-slot .card-header img {
  float: none !important;
  padding: 0px !important;
}
.card-slot .card-header a,
.card-slot .card-footer a {
  border: 0px !important;  /*-- for wadget --*/
}

.card-slot .open-arrow, 
.card-slot .close-arrow,
.card-slot .open-link,
.card-slot .close-link {
  display: none;
}

.card-slot .title { 
  margin: 0px 2px;
  font-weight: bold; 
  display: inline;
}
.card-slot .title img { 
  margin-right: 5px;
}
.card-slot .cardtype { 
  font-style: italic;
  font-size: 10px;
}

.card-slot .title a,
.card-slot .title a:link,
.card-slot .title a:visited,
.card-slot .title a:hover {
  color: #448 
}
.card-slot .card-menu {
   float:right;
   white-space: nowrap;
   position: relative;
   right: 0px;
   z-index: 1;
}
.card-slot .card-menu a { 
  padding: 1px 3px;
  margin: 0px;
  -moz-border-radius: 0px 0px 4px 4px;
}
.card-slot .current {
  font-style: italic;
  background: #dde;
}
a.current, a:link.current {
  color: #777;
}




/* card footer-------------------------------*/

.card-slot .card-footer,
.card-slot .revision-navigation {
  background: #eee;
  padding: 0px 5px;
  font-size: 9px;
}
.card-slot .card-footer {
   -moz-border-radius: 0px 0px 6px 6px;
}
.card-slot .card-footer a, 
.card-slot .card-footer a:visited, 
.card-slot .card-footer a:focus, 
.card-slot .card-footer a:link {
  color: #88c;
}
           

/*-------------  TABS -------*/

/* -------- view tab / content ----------------- */

.card-slot .search-result-list .cardname-link {
  display: block;
}
.card-slot p { 
  margin: 0px; 
}
.card-slot hr {
  margin: 10px
}     
.card-slot .faint {
  color: #bbc;
}
.card-slot .editor-message {
  display: none;
}
.card-slot .editor .editor-message {
  display: block;
}
.card-slot .word .title { 
  font-weight: normal 
}
.card-slot .joint { 
  color: #960; 
}
.card-slot a.wanted-card { 
  color: #900 
}
.card-slot a.external-link, 
.card-slot.line .content a.external-link { 
  color: #979; 
  background: url(/images/external_link.png) center right no-repeat;
  padding-right: 13px !important;
}
.card-slot a.email-link { 
  color: #979 
}
.card-slot span:hover.createOnClick {
  color: #069;
  background: #ffc;
  text-decoration: underline;
}
.card-slot span:hover.transcluded { 
  background-color: #e8e9cc;
  -moz-border-radius: 4px;
}
.card-slot .transcluded p, 
.card-slot .transcluded span, 
.card-slot .transcluded a, 
.card-slot .transcluded ul, 
.card-slot .transcluded ol, 
.card-slot .transcluded h1, 
.card-slot .transcluded h2 {
  background-color: inherit;
  -moz-border-radius: inherit;
}
.card-slot span:hover.transcluded .card-slot { 
  background-color: #fff;
}


/* note:   ".card-slot .transcluded div not(.editor)" was not working properly and was breaking nested block elements.  
   without it nested divs in transcluded areas probably won't highlight  */


/* ---------- edit tab / new / inline editing--------*/


.card-slot .editor {
  padding: 0px 5px;
  display: block;
}
.card-slot.new-card .editor {
  padding: 0px;
}
.card-slot .editor .revision-navigation,
.card-slot .editor .autosave-alert {
  display: none
}
.card-slot .card-name-field {
  background: #eef;
  font-weight: bold;
  color: #448;
  -moz-border-radius: 6px;
  padding: 1px 5px;
}
.card-slot .name-editor .label,
.card-slot .cardtype-editor .label {
  display: none
}
.card-slot .name-editor p,
.card-slot .cardtype-editor p {
  margin: 5px;
}
.card-slot .edit-area ,
.card-slot span:hover.transcluded div.edit-area  {
  background: #ddd;
  border: dashed 1px #aaa;
  margin: 4px;
  padding: 3px;
  position: relative;
}
.card-slot .templated.edit-area {
  background: white;
}
.card-slot .cardtype-area .cardtype {
  font-size: 14px;
  margin-left: 20px;
}
.card-slot .edit-area p {
  padding: 2px;
}
.card-slot .edit-area input[type=submit], 
.card-slot .edit-area input[type=button] {
  margin: 2px 2px;
  font-size: 11px;
  background: #ddd;
  color: #444;
  border: 1px solid #bbb;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
}
.card-slot .edit-area .richtext {
  background: #fff;
}
.card-slot .edit-area .label not(.fieldset) {
  display: block;
  margin: 2px;
  font-size: 12px;
}
.card-slot .edit-area .field not(.fieldset) {
  display: block;
  margin: 4px;
}
.card-slot .edit-area table {
  width: 100%;
  margin-bottom: 5px;
}
.card-slot .edit-area td {
  vertical-align: middle;
}
.card-slot .edit-area .title,
.card-slot .transcluded .edit-area .title {
  display: block;
  font-size: 11px;
}





/* ---------- changes tab -------*/


.card-slot .revision-header {
  background: #ddf;
  padding: 4px;
  border-bottom: 1px solid silver;
  text-align: center;
}
.card-slot .revision-title {
  font-weight: bold;
}
.card-slot .revision-header p {
  margin: 2px;
}
.card-slot .revision {
  margin: 0px 1px;
  padding: 10px 5px;
  background: #ffd;
}
.card-slot .autosave-alert {
  font-weight: bold;
}
.card-slot .revision-navigation span {
   margin: 0px 10px
}
.card-slot ins.diffmod, 
.card-slot .diffins {
  background: #aea;
}
.card-slot del.diffmod, 
.card-slot .diffdel {
  background: #eaa;
}

/*-------options tab ------*/

.card-slot .small {
  font-size: 10px;
  display: block;
  margin: 2px;
  line-height: 13px
}
.card-slot .template,
.card-slot .option-header h2 {
  padding: 6px ;
  text-align: center;
}
.card-slot .template {
  background: #bdd
}
.card-slot .template .card-slot {
  text-align: left;
}

/*-----------related tab ----------*/

.card-slot .related.headroom h1,
.card-slot .related.headroom h2 {
  margin-top: 10px;
}


/*------------- multiple tabs / misc -----*/


.card-slot .notice {
  background: #fff;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: #009;
  display: block;
  margin: 0px 0px 4px 0px;

}
.card-slot .help.content {
  padding: 10px;
  margin-top: 5px;
  color: #444;
}
.card-slot .content,
.card-slot .transcluded .content .card-slot.paragraph,
.card-slot .revision { 
  display: block;
  padding: 0px 10px 10px 10px;
}
.card-slot .instruction {
  border-left: 0px;
  border-right: 0px;
}
.card-slot .headroom h1,
.card-slot .headroom h2 {
  margin-top: 10px;
  padding: 6px;
}
.card-slot.line hr {
  display: none;
}
.card-slot .denied {
  display: none;
}


/* -----   CONTEXTS  -------------------------------*/

/*-------- main card ----*/

#show-card .card-slot .title {
  font-size: 16px;
  line-height: 18px;
}
#show-card .card-slot .content .title,
#show-card .card-slot .edit-area .title {
  font-size: inherit;
  line-height: inherit;
}
#show-card .card-slot .close-arrow {
  display: none;
}
#show-card .card-slot .content .close-arrow {
  display: inline;
}


/*----- sidebar ----------------*/


#sidebar .card-slot .card-menu {
  display: none; 
}
.none {
  background: #ccc;
  color: #999;
  text-align: center;
  text-transform: uppercase;
}

/*-------------- STATES -----------*/

/*-----------  open cards -------*/

.card-slot.paragraph {
  margin: 2px 0px;
 -moz-border-radius: 6px;
}
.card-slot.paragraph .content {
  display: block;
/* this was occasionally busting auto-completes on pointers:
  overflow: auto;
*/
}
.card-slot.paragraph .content img  {
  float: right;
  padding: 5px 0px 5px 10px;
}
.card-slot.paragraph .edit-area img  {
  float: none;
  padding: 0px;
}
.card-slot .transcluded .content {
  /* was busting when listed before .paragraph .content */
  display: inline;
  padding: 0px;
}
.card-slot.paragraph .close-arrow,
.card-slot.paragraph .close-link {
  display: inline;
  margin: 0px 5px 0px 0px;
}

/*------------- closed cards -------*/

.card-slot.line {
  overflow: hidden;
  border: 1px solid #ccc;
  white-space: nowrap;
  padding: 2px 0px;
  border-bottom: 0px;
  -moz-border-radius: 6px 6px 0px 0px !important;
}

.card-slot.line .open-link,
.card-slot.line .open-arrow,
.card-slot.line tr, 
.card-slot.line td, 
.card-slot.line p,
body.wagn .card-slot.line h1, 
body.wagn .card-slot.line h2, 
.card-slot.line h3, 
.card-slot.line h4, 
.card-slot.line h5, 
.card-slot.line h6, 
.card-slot.line ul, 
.card-slot.line li,
.card-slot.line pre, 
.card-slot.line ol, 
.card-slot.line hr, 
.card-slot.line .content div, 
.card-slot.line .content span,
.card-slot.line .content,  
.card-slot.line .workspace,
.card-slot.line .content a,
.card-slot.line blockquote {
  display: inline; 
  margin: 0px 4px; 
  padding: 0px !important;
  border: 0px !important;
  font-size: 11px !important;  
  white-space: nowrap;      
  float: none !important;
}
.card-slot.line .content {
  display: inline !important;
}
.card-slot.line .card-header {
  display: inline;
}
.card-slot.line .title img {
  padding: 0px 2px;
}
.card-slot.line .content img {
  height: 16px;
  float: none;
  padding: 0px;
}
.card-slot.line br,  
.card-slot.line .card-footer,
.card-slot.line input,
.card-slot.line .comment-box,
.card-slot.line textarea,
.card-slot.line .card-menu,
.card-slot.line .table-of-contents,
.card-slot.line .card-menu,
.card-slot.line .close-link {
  display: none !important;
}

/*----------- Nested ---------*/

.card-slot .card-slot.line,
.card-slot .card-slot {
  border: 1px solid white;
  border-bottom: 1px solid #ccc;
  -moz-border-radius: 0px;
  margin: 0px;
}
.card-slot .card-slot .card-footer {
  -moz-border-radius: 0px;
}
.card-slot .card-slot .card-menu {
  display: none;
}
.card-slot span:hover.card-slot {
  border: 1px solid #ddd;
  -moz-border-radius: 6px 6px 0 0;
}

.card-slot span:hover.card-slot .card-menu{
  display: inline;
}


/* CARDTYPE_SPECIFIC ------------------------------*/


/*---------- ( Richtext )-------------*/

.card-slot .table-of-contents {
  background: #eee;
  -moz-border-radius: 10px;
  padding: 4px;
  margin: 5px 20px 20px 20px;
}
.card-slot .table-of-contents h5 {
  margin: 0px 0px 0px 40px;
}
.card-slot .table-of-contents ol {
  list-style-type: upper-roman; 
}
.card-slot .table-of-contents ol ol {
  list-style-type: upper-alpha;
  padding-left: 25px 
}

/*-------------( Pointer )--------*/
.card-slot .pointer input {
  width: 60%;
}
.card-slot .pointer li {
  list-style: none;
}
.card-slot .pointer .delete {
  margin-left: 4px;
  font-weight: bold;
  color: #933;
  font-size: 15px;
}


/*-----------( Image ) -----------*/
.card-slot .image-cardtype {
  text-align: center;
}
.card-slot .content .image-cardtype img {
/*  float: none;  */
}


/*---------( Search ) ---------- */

.card-slot .content .paging img {
  float: none !important;
  padding: 0px 3px;
  margin: 0px;
}


/*---------- comment-box -------------------------------------- */
.card-slot .comment-box textarea { 
    width: 100%; 
    margin-bottom:5px;
}   
.card-slot .comment-box input {
  padding: 0px;
  font-size: 12px;
}
.card-slot .comment-box { 
    background: #cce;
    padding: 8px;
    margin: 0px;
}

/*--------(Search....also used when connecting...) ---------*/

/*------- tag cloud ----------------------------------*/

.card-slot .cloud a { 
  white-space: nowrap; 
  padding: 0px 3px !important;
  background: #eef;
  padding: 0px 4px;
  -moz-border-radius: 8px;
}
.card-slot .cloud-1 { font-size: 90% }
.card-slot .cloud-2 { font-size: 100% }
.card-slot .cloud-3 { font-size: 115% }
.card-slot .cloud-4 { font-size: 130% }
.card-slot .cloud-5 { font-size: 145% }




/*----------- (Invitation Request)--------------*/


.card-slot .invite-links {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #66b;
}
.card-slot .invite-links a {
  font-style: normal;
  font-weight: bold;
  margin-right: 20px;
}


/*------------ (Website) ----------------*/


.card-slot .website-editor input {
  margin: 3px;
  width: 100%;
}
.card-slot .website-link {
  margin: 3px;
}
.card-slot iframe.website {
  width: 100%;
  height: 50%;
  border: 1px solid #ddd;
}

/* popup stuff --------------------------------------------------------------*/
#popup_target {  /* IS THIS USED?  */
  padding: 10px;
}


/*---I think is is actually a connection thing? --*/
.card-slot .inline.field span {
  display: block;
  padding-right: 5px;
  vertical-align: middle;
  text-align: right;
}

/*--- connections --*/

.new-connection {
  text-align: center; 
}
.new-connection div {
  margin-top: 5px;
  margin-bottom: 15px
}
.card-slot .fat {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 40px ;
  display: block;
  color: #600
}
.card-slot .add-form input {
  margin: 1px 5px;
}