.card-slot {
  width: 100%;  /*needed for ie6, or..?*/
  margin: 0px;
  background: #fff;
  padding: 0px;
  -moz-border-radius: 8px;
  border: 1px solid #777;
  border-bottom: 2px solid #888;
  border-right: 2px solid #888;
  display: block;
}
html>body .card-slot {
  width: auto;  /* so non-ie browsers do better with image floats */
}
.card-slot,
.card-slot .ALL {
  overflow: hidden;
}


/*----- header ---------*/

.card-header {
  background: #005800;
  padding: 5px; 
  margin: 0px;
  -moz-border-radius: 6px 6px 0 0;
}
.title-menu {
  line-height: 18px;
}
.title { 
  margin: 0px 2px;
  font-weight: bold;
  font-size: 13px;
  padding: 2px 0px 2px 25px;
  white-space: nowrap;
}
.right-arrow {
  background: url(/images/arrow_right.gif) no-repeat left;
}
html>body .right-arrow {
  background-image: url(/images/arrow_right.png);
}
.down-arrow {
  background: url(/images/arrow_down.gif) no-repeat left;
}
html>body .down-arrow {
  background-image: url(/images/arrow_down.png);
}
.page-icon {
  padding: 2px 7px;
  background: url(/images/page.gif) no-repeat right;
}
html>body .page-icon {
  background-image: url(/images/page.png);
}

.card-icon {
  background: url(/images/card.gif) no-repeat right;
}

.plus-icon {
  background: url(/images/plus.gif) no-repeat right;
}

.search-icon {
  background: url(/images/search.gif) no-repeat right;
}
                                          
/* FIXE: these need the IE gifs as well */
html>body .card-icon{ background-image: url(/images/card.png); }
html>body .plus-icon{ background-image: url(/images/plus.png); }
html>body .search-icon{ background-image: url(/images/search.png); }


.cardtype { 
  font-style: italic;
  font-size: 10px;
}
.card-header,
.card-header a {
  color: #fff 
}
html>body .card-menu-left,
html>body .page-icon {
  display: none;
}
.line .card-header {
  padding-right: 22px;
}
.line div:hover.card-header {
  padding-right: 0px;
}

div:hover.setting .page-icon,
div:hover.card-header .page-icon,
div:hover.card-header .card-menu-left {
  display:inline;
}

.card-menu {
   float:right;
   white-space: nowrap;
   position: relative;
   right: 0px;
   z-index: 1;
}
.card-menu li { 
  padding: 1px 5px;
  margin: 0px;
  -moz-border-radius: 4px 4px 0 0;
}
.current {
  background: #bbb;
  padding-bottom: 7px !important;
}

.submenu {
  background: #bbb;
  padding: 0px 10px;
  text-align: right;
}
.submenu a {
  padding: 0px 5px;
  color: #005800
}
.submenu a.on {
  background: #fff;
  color: #777;
  padding-bottom: 3px;
  -moz-border-radius: 4px 4px 0 0;
}

.card-header li {
  display:inline;
}



/* card footer-------------------------------*/
.card-footer,
.revision-navigation {
  padding: 0px 10px;
  font-size: 9px;
  text-align: left;
}
.card-footer,
.revision-navigation {
   background: #bbb;
}
.card-footer {
  clear: both;
  -moz-border-radius: 0px 0px 6px 6px;
}
html>body  .card-footer .footer-content {
  display: none;
}
div:hover.card-footer .footer-content {
  display: inline;
} 
.card-footer .footer-content {
  width: 100%; 
}        
.card-footer .watch-link {
  float: right;
  text-align: right;
  white-space: nowrap;
}        


/*-------------  TABS -------*/

/* -------- view tab / content ----------------- */

/* isn't this covered?
.card-slot p { 
  margin: 0px; 
}
*/
    
.faint {
  color: #bbc;
}
.joint { 
  color: #960; 
}
a.wanted-card { 
  color: #900 
}
a.external-link, 
.line .content a.external-link { 
  color: #979; 
  background: url(/images/external_link.png) center right no-repeat;
  padding-right: 13px !important;
}
a.email-link { 
  color: #979 
}
.open-missing {
  color: #99b;
  font-variant: small-caps;
}
span:hover.open-missing {
  color: #069;
  background: #ffc;
}

.transcluded p, 
.transcluded span, 
.transcluded a, 
.transcluded ul, 
.transcluded ol, 
.transcluded h1, 
.transcluded h2 {
  background-color: inherit;
  -moz-border-radius: inherit;
}

/*  I can't find where this is used.  if you uncomment, please document -efm 
.word .title { 
  font-weight: normal 
}
*/



/* note:   ".card-slot .transcluded div not(.editor)" was not working properly and was breaking nested block elements.  
   without it nested divs in transcluded areas probably won't highlight  */


/* ---------- edit tab / new / inline editing--------*/

.new-name,
.new-type {
  white-space: nowrap;
}
.new-name .title {
  padding-left: 2px;
}
.new-name .card-name-field {
  width: 50%;
}
.new-type {
  float: right;
}
.editor {
  display: block;
}
.card-slot.new-card .editor {
  padding: 0px;
}
.editor .revision-navigation,
.editor .autosave-alert {
  display: none
}
.card-name-field {
  background: #eef;
  font-weight: bold;
  color: #448;
  -moz-border-radius: 6px;
  padding: 1px 5px;
}
.edit-area {
  background: #f9f9f9;
  border: 0px;
  padding: 4px;
}
.in-multi {
  background: #e3e3e3;
  width: 100%;
  padding: 1 0px;
  margin: 1px;
}
.new-type .cardtype {
  font-size: 14px;
  float:right;
}
.edit-area p {
  padding: 2px;
}
.edit-area input[type=submit], 
.edit-area input[type=button] {
  margin: 2px 2px;
  font-size: 11px;
  background: #ddd;
  color: #444;
  border: 1px solid #bbb;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
}
.edit-area .richtext {
  background: #fff;
}
ul.pointer {
  margin: 0px;
  padding: 0px;
}
.edit-area .label not(.fieldset) {
  display: block;
  margin: 2px;
  font-size: 12px;
}
.edit-area .field not(.fieldset) {
  display: block;
  margin: 4px;
}
.edit-area table {
  width: 98%;
  margin-bottom: 5px;
}
.edit-area .mceEditor table,
.edit-area .mceEditor table td{
  margin: 0px;
  padding:0px 1px;
  border: 0px;
}
.edit-area td {
  vertical-align: middle;
}
.edit-area .title,
.transcluded .edit-area .title {
  display: block;
  font-size: 11px;
}

.label-in-multi {
  float: left;
  width: 25%;
}
.label-in-multi .title {
  white-space: inherit;
  padding: 1px 5px;
}
.field-in-multi {
  float: right;
  width: 70%;
  padding: 3px;
}
.edit-button-area {
  margin-top: 7px;
}
.in-multi .instruction,
.in-multi .instruction p{
  clear:left;
  border: 0px;
  background-color: #e3e3e3; /*hard-coded because inherit wasn't working right in IE */
  text-align: left;
  padding: 0 3px;
}
/* for IE */
div.transcluded {
  display: inline;
}


/* not in use?
.syntax-tips {
  color: #888;
}
.name-editor .label,
.cardtype-editor .label {
  display: none
}
.name-editor p,
.cardtype-editor p {
  margin: 5px;
}
*/



/* ---------- changes tab -------*/


.revision-header {
  background: #ddf;
  padding: 4px;
  border-bottom: 1px solid silver;
  text-align: center;
}
.revision-title {
  font-weight: bold;
}
.revision-header p {
  margin: 2px;
}
.revision {
  margin: 0px 1px;
  padding: 10px 5px;
  background: #ffd;
}
.autosave-alert {
  font-weight: bold;
}
.revision-navigation span {
   margin: 0px 10px
}
ins.diffmod, 
.diffins {
  background: #aea;
}
del.diffmod, 
.diffdel {
  background: #eaa;
}

/*-------options tab ------*/

.small {  /* this is a crappy class name */
  font-size: 10px;
  display: block;
  margin: 2px;
  line-height: 13px
}
.template,
.option-header h2 {
  padding: 6px ;
  text-align: center;
}
.template {
  background: #bdd
}
.template .card-slot {
  text-align: left;
}
.new-account-link {
  text-align: center;
}

/*-----------related tab ----------*/

.related.headroom h1,
.related.headroom h2 {
  margin-top: 10px;
}


/*------------- multiple tabs / misc -----*/


.notice {
  background: #fff;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: #009;
  display: block;
  margin: 0px 0px 4px 0px;

}
.help.content {
  padding: 10px;
  margin-top: 5px;
  color: #444;
}
.open-content, /* paragraph content */
.revision {
  display: block;
  padding: 5px 15px 10px 15px;
}

.instruction {
  border-left: 0px;
  border-right: 0px;
}

/* we should be able to get rid of this stuff.  used once.  and it's poorly named */
h1.headroom,
h2.headroom,
.headroom h1,
.headroom h2 {
  margin-top: 10px;
  padding: 6px;
}

.denied {
  display: none;
}


/* -----   CONTEXTS  -------------------------------*/

/*-------- main card ----*/

/*-- makes things funny in IE
#main .paragraph .title {
  font-size: 16px;
  line-height: 25px;
}
#main .paragraph .content .title,
#main .card-slot .edit-area .title {
  font-size: inherit;
  line-height: inherit;
}
    
--*/

/*----- Secondary (sidebar) ----------------*/


#secondary .card-menu {
  display: none; 
  float:none;  /* necessary for IE */
}
.none {
  background: #ccc;
  color: #999;
  text-align: center;
  text-transform: uppercase;
}


/*----------recent changes -----------*/

body#wagn .card-slot.recent-changes h2 {
  margin-top: 15px;
}



/*-------------- STATES -----------*/

/*-----------  open cards -------*/

.paragraph {
  margin: 1px 0px;
  padding: 0px !important;
  -moz-border-radius: 8px;
}

/* this was occasionally busting auto-completes on pointers:
  overflow: auto;
*/

  /* means content view */
.content-content {
  display: inline;
  padding: 0;
}
.paragraph .down-arrow,
.paragraph .close-link {
  margin: 0px 5px 0px 0px;
}

/*------------- closed cards -------*/

.line {
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 0px;
  border-color: #ccc;
  -moz-border-radius: 2px 8px 2px 2px !important;
  padding: 0px;
  margin: 0px;
  line-height: 25px;  
  /* necessary for IE6 */
  height: 25px;
}

.line .content, 
.line .card-header {
  display: inline;
  float: left;
  vertical-align: center;
}
.line .card-header {
  line-height: 15px;
  -moz-border-radius: 0px 6px 6px 0px;
  padding-top: 4px;
  padding-bottom: 3px;
  margin-right: 4px;
}

.line tr, 
.line td, 
.line p,
.line h1, 
.line h2, 
.line h3, 
.line h4, 
.line h5, 
.line h6, 
.line ul, 
.line li,
.line pre, 
.line ol, 
.line hr, 
.line .content div, 
.line .content span,
.line .content,  
.line .workspace,
.line .content a,
.line blockquote {
  display: inline; 
  margin: 0px 4px; 
  padding: 0px !important;
  border: 0px !important;
  font-size: 11px !important;  
  white-space: nowrap;      
  float: none !important;
}
.line .content a {
  margin: 0px;
}
.line .content img {
  height: 16px;
  width: auto;
  float: none;
  padding: 0px;
}
.line br,  
.line hr,
.line input,
.line textarea,
.line .comment-box,
.line .table-of-contents,
.line .card-menu,
.line .card-footer,
.line .close-link {
  display: none !important;
}
/*----------- Change View ---------*/

.change-view {
  padding: 5px 0px;
  border-bottom: 1px dotted grey;
  clear: both;
}
.change-view .change-card{
  font-weight: bold;
  float: left;
}
.change-view .last-update {
  float:right;
}
.change-view .last-edited {
  color: #7a7;
}


/*----------- Nested ---------*/

.card-slot .card-slot.line,
.card-slot .card-slot {
  border: 1px solid white;
  border-bottom: 1px solid #ccc;
  -moz-border-radius: 0px;
  margin: 0px;
}
.card-slot .card-slot .card-footer {
  -moz-border-radius: 0px;
}
.card-slot span:hover.card-slot {
  border: 1px solid #ddd;
  -moz-border-radius: 8px 8px 0 0;
}



/* CARDTYPE_SPECIFIC ------------------------------*/


/*---------- ( Richtext )-------------*/

.table-of-contents {
  background: #eee;
  -moz-border-radius: 10px;
  padding: 4px;
  margin: 5px 20px 20px 20px;
}
.table-of-contents h5 {
  margin: 0px 0px 0px 40px;
}
.table-of-contents ol {
  list-style-type: upper-roman; 
}
.table-of-contents ol ol {
  list-style-type: upper-alpha;
  padding-left: 25px 
}

/*-------------( Pointer )--------*/
.pointer input {
  float: left;
  width: 60%;
}
.pointer li {
  list-style: none;
}
.pointer .delete {
  margin-left: 4px;
  font-weight: bold;
  color: #933;
  font-size: 15px;
}


/*-------------( Phrase)-----------*/

.phrasebox {
  width: 98%;
}

/*---------( Search ) ---------- */

.content .paging img {
  float: none !important;
  padding: 0px 3px;
  margin: 0px;
}


/*---------(Search & Pointer) --------*/

div.pointer-list,
div.search-result-list {
  list-style: none;
  padding: 5px 10px;
  margin: 0;
}

div.pointer-list .pointer-item,
div.search-result-list .search-result-item {
  margin: 0;
}

.search-result-item.item-link, .pointer-item.item-link,
.search-result-item.item-name, .pointer-item.item-name {
  display: block;
  text-indent: -15px;
  padding-left: 15px;
}

.radio-option-description,
.checkbox-option-description {
  margin-left: 40px; 
}

/*-----------( Image ) -----------*/


/*.paragraph.type-Image, */
.paragraph .TYPE-image .content {
/*  overflow: auto;  */
  padding: 5px;
}




/*----------- (Invitation Request)--------------*/


.invite-links {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #66b;
}
.invite-links a {
  font-style: normal;
  font-weight: bold;
  margin-right: 20px;
}




/*---------- comment-box -------------------------------------- */
.comment-box textarea { 
    width: 100%; 
    margin-bottom:5px;
}   
.comment-box input {
  padding: 0px;
  font-size: 12px;
}
.comment-box { 
    background: #cce;
    padding: 8px;
    margin: 0px;
}

/*------- tag cloud ------- (not currently in use)---------------------------*/

/*
.cloud a { 
  white-space: nowrap; 
  padding: 0px 3px !important;
  background: #eef;
  padding: 0px 4px;
  -moz-border-radius: 8px;
}
.cloud-1 { font-size: 90% }
.cloud-2 { font-size: 100% }
.cloud-3 { font-size: 115% }
.cloud-4 { font-size: 130% }
.cloud-5 { font-size: 145% }
*/




