
#top-menu {
  background: #657529;
}
body.wagn {
  background: #cfdab5
}

#top-hr1, #top-hr2 {
  background: #657529
}

a, a:link { color: #55a;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}


.title a {
  color: #6a752f
}

a.wanted-card {
  color: #55a;
  border-bottom: 1px dotted;
}

a.wanted-card:hover {
  border-bottom: 0px;
}

a.external-link {
  background: url(/images/external_link.png) center right no-repeat;
  padding-right: 13px;
  color: #55a;
}

.transcluded, .transcluded p, .transcluded span, .transcluded div {
  background-color: #e8e9cc;
  -moz-border-radius: 8px;
	padding: 0px;
}

#main-menu a {
  color: #6a752f;
}

.admin-nav a {
  color: #6a752f
}

/*
ul { list-style-type: disc; }
*/




