/*---- page layout */

#main-table {
  width: 100%;
  height: 95%;
  vertical-align: top;
}
#page-left {
  width: 63%;
  margin-bottom: 400px;
}

#page-right {

  position: absolute;
  right: 0.5%;
  width: 35%;
}
#main {
  padding: 5px 10px;
}
#sidebar {
  padding: 0px 10px;
}

/* top-menu -------------*/

.top-bar {
  padding: 2px;
  background: url(/images/top-bar.png) repeat-x;
}
#top-menu a {
  color: white;
  padding: 0px 4px;
}
#top-menu input {
  font-size: 10;
  padding: 0px 3px;
  border: 1px solid #aaa;
  border-top: 0px;
  border-left: 0px;
  margin: 0px 8px;
  -moz-border-radius: 0px 0px 0px 0px;
  width: 120px;
}
#logging {  /* signing in and out */
  position: absolute;
  right: 0.5%;
}
/*
#my-card {
  text-align: center;

  padding: 0px 10px;
}
#my-card .card-slot {
  padding: 2px 0px;
}
*/
#my-card-link {
  font-weight: bold;
}
/* -------  logo --------- */
#logo {
  text-align: center;
/*  position: relative;
  top: -10px; */
  padding: 10px;
}
#logo .card-slot {
  font-weight: bold;
  font-size:25;
  letter-spacing: -2px;
  text-align: center;
  padding: 10px 0px;
}

#logo a, 
#logo a:link,
#logo a:visited { 
  color: #448; 
  text-decoration: none;
  text-align: center;
}



/*---- main card ------*/

#show-card {
  margin-top: 5px;
}


/* ---- related cards -----------*/

#related {
  margin-top: 5px;  
}
#related-header {
  margin: 5px;
}
#related-title {
  padding: 5px;
}
#related-toggle {
  float: right;
  margin: 10px 5px;
}
#related input,
#related select {
  font-size: 11px;
}
#query-select {
  margin-left: 10px;
  color: #777;
  width: 60%;
}
#related-button {
  margin: 3px 10px;
}
#related #paging-links-copy {
  margin-right: 10px;
  margin-top: 5px;
}

/*--- all card lists ---*/

.card-list {
  margin: 3px 0px;
}
#card-list-label {
  display: block;
  margin: 3px;
}
#options-toggle {
  float: right;
  margin: -15px 10px;
}
.paging-links {
  float:right;
  margin-right: 15px
}


/*--- query options box ---*/



#linker-options {
  padding: 3px;
  margin: 5px;
  border:  1px solid #ccc;
  border-right: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  background: #eee;
  -moz-border-radius: 6px;
  font-size: 12px;
}
#linker-options input, 
#linker-options select {
  -moz-border-radius: 0px;
  padding: 0px;
  margin: 2px;
  width: 60%;
  font-size: 10px;
}
#linker-options table {
  width: 100%;
}
#linker-options td {
  width: 50%;
}
.option {
  padding: 0px 10px; 
}




/*----- alerts ----------*/

#alerts {
  padding: 2px 9px;
  margin: 5px 0px;
  -moz-border-radius: 8px;
  color: #555;
  font-weight: bold;
  z-index: 4;
}
html>body #alerts { /* not in IE  (won't do fixed position) */
  margin: 0px;
  width: 33%;
  position: fixed !important;
  bottom: 0px;
  right: 0px;
  z-index:  !important;
  background: #eee;
  -moz-border-radius: 8px 0px 0px 0px;
  border: 1px solid #ccc;
  border-bottom: 0px;
  border-right: 0px;
  display: block;

}
#alerts div {
  display: none;
}


/*----- fieldset tables --------*/

.fieldset { 
  width: 100%; 
}
.fieldset td     { 
  padding: 5px 3px 5px 3px; 
  border-bottom: 1px solid #ddd; 
}
.fieldset .label { 
  text-align: right;  
  white-space: nowrap;
  padding-right: 6px;
  vertical-align: middle;
}
.fieldset .field { 
  width: 25%;
  vertical-align: middle;
  padding: 7px
}
.fieldset .help { 
  padding-left: 6px;
  width: 50%;
}
.fieldset input[type=submit] {
  margin: 6px
}


/* -- instructions ---*/

.instruction {
  border: 1px dashed #660;
  margin: 3px 0px;
}
.help, .instruction {
  background: #eec;
  color: #440;
  font-style: italic;
  text-align: center;
}
.instruction div, 
.instruction p {
  padding: 6px;
}
.edit-instruction {
  margin: 8px 0px;
}
#new-card .instruction {
  margin-bottom: 20px;
}


/* --  miscellaneous --- */

#maincontent { /* FIXME -- unhelpful name; what does this do?? */
  padding: 0px 8px 10px 8px;
}
#create-advanced { 
  border: 1px solid #ccc;
  -moz-border-radius: 4px; 
}
.admin-nav {
  margin: 10px 10px 30px 10px;
}

/* -----bottom menu ------*/

#bottom-menu {
  margin: 20px;
  
}

#credit {
  width: 75%;
  text-align: center;
  color: #999;
}



/*-------- Special Pages --------*/


/*-- sign in page --*/

#sign-in p {
  margin: 5px;
}
#sign-in input[type=text],
#sign-in input[type=password] {
  width: 50%;
}


/*-- new card page ---*/

#new-editor {
  margin-top: 10px;
}
#new-card-cardtype {
  position: relative;
  top: 15px;
}


/*---- recent changes page ----*/

#recent-list h2 {
  margin: 8px 16px;
}


/* -- permissions page -----*/

#role_task {
  margin-bottom: 2em;
  padding: 3px;
}
.role {
  text-align: center;
  padding: 2px 8px;
}
.task {
  padding: 2px;
}

.exception p {
  margin: 15px;
}


/*------- HACK FIXME------------*/

/*-- options toggle was looking funky in safari.  the pound makes safari ignore it.  MUST be at end of file, or else safari will ignore everything else */
#related #options-toggle { margin: 0px 10px;}
#related #options-toggle { margin: -15px 10px;#}







