.settings-tab {
  border: 0px;
  margin-bottom: 20px;
  padding: 5px 15px;
}
.set-rules {
  width: 100%;
}
.set-rules th {
  background: #aaa;
  color: #eee;
  padding: 5px 0;
}
.set-rules th,
.set-rules td {
  text-align: left;
  display: table-cell;
  border-bottom: 1px solid #eee;
  padding: 2px 5px;  
}
.rule-setting { 
  font-weight: bold;
}
.rule-type {
  color: #666;
}
.rule-set {
  font-style: italic;
  color: #999;
}
.rule-content {
  width: 200px;  
}
.rule-content div {
  padding: 0;
}
.rule-content-container {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis ;
}
.rule-action {
  width: 20px;
}
td.missing-rule {
  background-color: #eee;
  border-bottom: 1px solid #fff;
}
.edit-rule .rule-action {
  float:right;
}
.edit-rule-content {
  width: 500px;
  float: right;
}
.edit-rule-header {
  padding: 10px 0;
  margin-left: -15px;
}
.edit-rule-header-title {
  font-weight: bold;
  font-size: 13px;
  margin-right: 10px;
}
.edit-rule-header-intro {
  color: #666;
  font-style: italic;
}
.edit-rule-section {
  padding-bottom: 15px;
}
