.settings-tab {
  border: 0px;
  margin-bottom: 20px;
  padding: 5px 15px;
}
.set-rules {
  display: table;
  width: 100%;
}
.rule-group {
  background: #aaa;
  color: #eee;
  padding: 5px 0;
}
.rule-group,
.rule-row {
  display: table-row;
  width: 100%;
}
.rule-heading,
.rule-cell {
  display: table-cell;
  border-bottom: 1px solid #eee;
  padding: 2px 5px;  
}
.rule-setting { 
  font-weight: bold;
}
.rule-type {
  color: #666;
}
.rule-set {
  font-style: italic;
  color: #999;
}
.rule-content {
  padding: 0;
  width: 200px;
}
.rule-content-container {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis ;
}
.missing-rule {
  background-color: #eee;
}
.missing-rule .rule-cell {
  border-bottom: 1px solid #fff;
}