.wikiwyg_toolbar {
    background: #D3D3D3;
    border: 1px outset;
    letter-spacing: 0;
    padding: 2px;
    margin: 0px 3px 0px 5px;
    -moz-border-radius: 4px 4px 0px 0px; 
}

span.wikiwyg_control_link a {
    margin-right: 4px;
    padding: 0px 4px;
    background: #ddd;
    -moz-border-radius: 2px;
  border: 1px outset;
  color: #448;
}

.wikiwyg_button {
    background: #D3D3D3;
    border: 1px solid #D3D3D3;
    cursor: pointer;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.wikiwyg_button:hover {
    border: 1px outset;
}

.wikiwyg_button:active {
    border: 1px inset;
}

.wikiwyg_separator {
    background: #D3D3D3;
    border: 1px solid #D3D3D3;
    width: 9px;
    height: 20px;
    vertical-align: bottom;
}

.wikiwyg_selector {
    width: 70px;
}

.wikiwyg_wysiwyg table {
    border-collapse: collapse;
    margin-bottom: .2em;
}

.wikiwyg_wysiwyg table td {
    border: 1px;
    border-style: solid;
    padding: .2em;
    vertical-align: top;
}

iframe {
    -moz-border-radius: 0px 0px 4px 4px; 
}

#link-editor {
  margin: 10px;
}
#link-editor label {
  display: block;
  width: 50px;
  float: left;
  text-align: right;
  font-weight: bold;
  margin-right: 3px;
}

#link-editor .buttons {
  text-align: center;
}
#link-editor .buttons input {
  margin: 4px;
}

