<% get_slot.wrap('name') do |slot| %>
	<span class="title"><%= less_fancy_title(@card) %></span>
	<%= link_to_remote '[edit name]', :url=>slot.url_for("cardname/edit"),
				:update => slot.id('name-area') %>
<% end %>