<%-
name  ||= ''
label ||= ''
field ||= ''
help  ||= ''
-%>
<tr>
  <td class="label"><label for="<%= name %>"><%= label %></label></td>
  <td class="field"><%= field %></td>
  <td class="help"><%= help %></td>
</tr>
    
