<% get_slot.wrap(:options) do |slot| %>
  <% wagn_form_for :card, @card, :url=>slot.url_for('options/create_account') do |form| %>
    <table class="fieldset">
      <%= render :partial=>'account/email' %>
      <tr><td colspan="3" style><p>
         A password for a new sign-in account will be sent to the above address. 
         <%= submit_tag 'Create Account' %>
      </p></td></tr>
    </table>
  <% end %>
<% end %>