<%-
  eid = slot.context
  options = options_from_collection_for_select(card.options,:name,:name,slot.card.item_names)  
%>
<%= select_tag "#{eid}-multiselect", options, :multiple=>true, :id=>"#{eid}-multiselect", :class=>'pointer-multiselect' %>

<%= slot.editor_hooks :save=>%{
  setPointerContent('#{eid}', jQuery('##{eid}-multiselect').val() );  return true;
} %>  

    