<% ruby = slot.expand_inclusions( card.content ) %>
<%= begin
		if System.enable_ruby_cards
		  s = Sandbox.new(4)
		  s.fuehreAus( ruby )
		  result = if s.securityViolationDetected
		      s.securityViolationText.message
		    elsif s.syntaxErrorDetected
		      s.syntaxErrorText.message
		    else
		      s.sandboxOutput.value.to_s
		    end     
		else
			"Ruby cards disabled"
		end
	rescue Exception => e
		CGI.escapeHTML( e.message )
	end
%>

