--markup markdown
-
**/lib/**/*.rb                    \
tmpsets/set*/**/*.rb -            \
**/*.rdoc                         \
**/*.md
GPL                               \
LICENSE                           \
VERSION
