<p><% date_id = slot.id + "-date" -%>
<% link_text = card.content.blank? ? (t=Time.now(); [t.year , t.mon, t.day].join('-')) : card.content %>
<%= link_to_function link_text, "scwShow($('#{date_id}'), scwID('#{date_id}'));", :id=>date_id %>
</p>
<br />

<%= slot.form.hidden_field :content, :id=>"#{slot.editor_id}-content" %>
<%= slot.editor_hooks :save=>%{
	$('#{slot.editor_id}-content').value = $('#{date_id}').innerHTML; 
	return true;
} %>

