<%= raw( slot.options_submenu(:account) ) %>
<%= form_for :card, :url=>slot.path(:create_account),
  :html=>{:class=>'standard-slotter'}, :remote=>true do |form| %>
  <table class="fieldset">
    <%= render :partial=>'account/email' %>
    <tr><td colspan="3" style><p>
       A password for a new sign-in account will be sent to the above address. <%# #ENGLISH %>
       <%= submit_tag 'Create Account' %> 
    </p></td></tr>
  </table>
<% end %>
