require File.dirname(__FILE__) + '/../../spec_helper'

describe Card::<%= class_name %>, "create" do	
	before(:each) do 
	  User.as :wagbot 
		Card::<%= class_name %>.create :name=>"New <%= class_name %>"
	end
	
	it "should have the right class" do
		Card.find_by_name("New <%= class_name %>").class.should == Card::<%= class_name %>
	end
end