<p><iframe class="upload-iframe" name="upload-iframe" height="30" width="480" frameborder="0" src="<%= "/file/edit/#{card.id}" %>" scrolling="no">
</iframe></p>
<%= slot.form.hidden_field :content, :class=>'upload-content' %>
  
<%#FIXME-slot %>
<%= slot.editor_hooks :save=>%{
	doc=getSlotElement(this, 'iframe').contentDocument;
	doc.getElementById(getSlotElement(this,'upload_form')).submit(); 
	return false;
} %>

