<% guid = card.content %>
<% if guid.blank? %>
	<span class="faint">No Video Saved for this Card</span>
<% else %>
	<object id="nimbb" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="320" height="240" codebase= "http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
	<param name="movie" value="http://player.nimbb.com/nimbb.swf?guid=<%= guid %>&lang=en" />
	<param name="allowScriptAccess" value="always" />
	<embed name="nimbb" src="http://player.nimbb.com/nimbb.swf?guid=<%= guid %>&lang=en" width="320" height="240" allowScriptAccess="always" pluginspage="http://www.adobe.com/go/getflashplayer">
	</embed>
	</object>
<% end %>