<% dev_key = Wagn.config.nimbb_public_key %>

<% eid, raw_id = slot.context, slot.context+'-raw-content' %>
<%= slot.form.hidden_field :content, :id=>"#{eid}-hidden-content" %>

<object id="nimbb" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="320" height="240" codebase= "http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
<param name="movie" value="http://player.nimbb.com/nimbb.swf?mode=record&simplepage=1&key=<%= dev_key %>&lang=en" />
<param name="allowScriptAccess" value="always" />
<embed name="nimbb" src="http://player.nimbb.com/nimbb.swf?mode=record&simplepage=1&key=<%= dev_key %>&lang=en" width="320" height="240" allowScriptAccess="always" pluginspage="http://www.adobe.com/go/getflashplayer">
</embed>
</object>

<br><br>