<% query_results = Card.find_by_wql_options( card.query_args ) %>

<% if query_results.length==0 %>
  No cards matched this query
<% else %>
	<%= render :partial=>'block/tag_cloud', :locals=>{ :card=>card, :cards => query_results } %>
<% end %>

