<div class="card-header">
  <div class="title-menu">
     <%= raw link_to raw(fancy_title(card)), 
           "card/view/#{card.id}?view=open",
           :title=>"open #{card.name}", 
           :class=>'title right-arrow standard-slotter',
           :remote=>true
    %>
    <%= raw page_icon(card.name) %>
    &nbsp;    
  </div>  
</div>    
<%= raw slot.wrap_content :closed, slot.render_closed_content %>
