<div class="card-header">
  <div class="title-menu">
     <%= link_to_remote fancy_title(card), 
         {:url=>slot.url_for("card/open"), :update=>slot.id}, 
         :title=>"open #{card.name}", :class=>'title right-arrow' %>
    <%= page_icon(card.name) %>
    &nbsp;    
  </div>  
</div>    
<%= slot.wrap_content slot.render(:closed_content) %>
