<%-
  attributes = %{ class="createOnClick" home_view="setting" cardid="" position="#{slot.position}" cardname="#{h card.name}" type="" }
%>
<% if card.ok?(:update) %>
  <![if !IE]><span <%= attributes %> ><![endif]>
  <!--[if IE]><div <%= attributes %> style="display:inline" ><![endif]--> 
    <a class="setting-missing edit-link">add</a>
  <!--[if IE]></div><![endif]-->
  <![if !IE]></span><![endif]>
<% end %>
