<div class="card-footer">
	<table>
		<tr>
			<td class="links"><%= slot.footer_links %></td>
			<td class="watch"><span class="watch-link"><%= slot.watch_link %></span></td>
		</tr>
	</table>   
	<span class="height-holder">&nbsp;</span>
</div>   
