<span class="card-links">
  <span class="link-list">
    <span>Cards:</span> <%= card.name.piece_names.map { |c| link_to_page c }.join(', ') %> 
  </span>
	<% if !card.cached_revision.new_record? %>
    <span class="last-editor">
      <span>Last Editor:</span> <%= link_to_page card.cached_revision.created_by.card.name %> <%#ENGLISH%>
    </span>
  <% end %>   
</span>   
