<div class="card-footer">
  <span class="footer-content">
    <span class="watch-link"><%= slot.watch_link %></span>
    <span class="footer-links"><%= slot.footer_links %></span>
  </span>
  <span class="height-holder">&nbsp;</span>
</div>   
