<span class="createOnClick" view="<%= view %>" cardid="" position="<%=slot.position %>" cardname="<%= card.name %>" 
  type="<%= slot.type %>"><span class="open-missing">Add <strong><%= tname || card.name %></strong></span></span>