<% slot_for(card, context, action) do |slot| %>
	<%= slot.header %>  
	<span class="content cooked editOnDoubleClick" cardid="<%= card.id %>" inPopup="false">
		<%= rendered_content card %>
	</span>
	<%= slot.notice %>
  <%= slot.footer %>
<% end %>

<%# FIXME: this is duplicated effort in lots of cases %>
<%= javascript_tag "setupCardViewStuff()" %>