
<% cardname = (params[:card] ? params[:card][:name] : "") %>
<h1>Missing Card</h1>

<% get_slot(Card.new, context, nil).wrap do |slot| %>
  <div class="content instruction"> 
    <p>There's no card named <strong><%= cardname %></strong>.</p>
    <p><%= link_to "Sign In", '/account/signin' %> or <%= link_to 'Sign Up', '/account/signup' %> to create it.</p>
  </div> 
<% end %>

