<h1 class="page-header">Missing Card</h1>

<%= wrap_slot do |slot| %>
  <div class="content instruction">
    <p>There's no card named <strong><%= @card.name %></strong>.</p> <%#ENGLISH%>
    <%- if !User.logged_in? %>
      <p><%= link_to "Sign In", :controller=>'account', :action=>'signin' %> or <%= link_to 'Sign Up', :controller=>'account', :action=>'signup' %> to create it.</p>
    <% end %>
  </div>
<% end %>


