<% wrap_slot do |slot| %>
  <%= raw slot.header %>
  <div class="options-body">
    <%= raw slot.render_partial( "card/options/#{@subtab}", :locals=> { :slot => slot } ) %>
  </div>
  <span class="notice"><%= flash[:notice] %></span>
<% end %>
