<%- subtab = params[:attribute] || 'permissions' %>
<% wrap_slot do %>
  <%= header %>
  <div class="options-body">
    <%= render_options :part=>subtab %>
  </div>
  <span class="notice"><%= flash[:notice] %></span>
<% end %>
