<%-  
  wrap_slot do |slot|
    has_account = slot.card.extension_type=='User'
    subtab = params[:attribute] || (has_account ? 'account' : 'settings')
%>

  <%= raw( slot.header ) %>
  <div class="options-body">
    <%= raw( slot.render_partial "card/options/#{subtab}" ) %>
  </div>
  <span class="notice"><%= flash[:notice] %></span>
<% end %>
