<style>
.line .title-<%= css_name(@card.name) %>, .line .link-<%= css_name(@card.name) %> { display: none !important; }
.paragraph .title-<%= css_name(@card.name) %>, .paragraph .link-<%= css_name(@card.name) %> { font-weight: normal; }
</style>


<% @title = @card.name %>  
<%= get_slot.render((render_arg(:view) || :open), :wrap=>!request.xhr?, :add_javascript=>true ) %>
