<%- 
view = (render_arg(:view) || :open) 
slot = get_slot
if item = render_arg(:item)
  slot.item_format = item
end
%>

<%= get_slot.render(view, :slot? => !request.xhr?, :add_javascript=>true ) %>

<%# GOD THIS IS NASTY%>

<% if [:closed,:line].member?(view) %>
  <%= javascript_tag("Wagn.paragraph_to_line(getSlotFromContext('#{@context}'))") %>
<% elsif [:open,:card,:view].member?(view) %>
  <%= javascript_tag("Wagn.line_to_paragraph(getSlotFromContext('#{@context}'))") %>
<% end %>