<!DOCTYPE html>
<html>
  <body style="text-align:center">
    <h1>Thank you for signing up with <%= @site %></h1>
	<%- if @token %>
	    <div>Please <a href="<%= @link %>">follow this link</a> to verify this email address and activate your account.</div>
	    <div>(link will remain valid for <%= @expiry / 1.day %> days)</div>
	<%- else %>
		<div>You will receive further notification when your account is approved</div>
	<%- end %>
  </body>
</html>
