<% if card.content && !card.content.empty? && File.exists?("#{RAILS_ROOT}/public/image/#{card.content}") %>
  <img title="<%= card.name %>" src="<%= card.src %>" />
<% else %>
  <div class="faint">image file not found</div>
<% end %>