<% if card.content && !card.content.empty? && File.exists?("#{RAILS_ROOT}/public/image/#{card.content}") %>
  <a href="<%= card.src %>"><img title="<%= card.name %>" src="<%= card.src %>" /></a>
<% else %>
  <div class="faint">image file not found</div>
<% end %>