<tr>
  <td class="label"><label for="email">Email</label></td>
  <td class="field"><%= text_field :account, :email %></td>
  <td class="help"><strong>To verify account</strong><br/></td> <%#ENGLISH%>
</tr>
