<%= error_messages_for 'user' %>

<%= start_form_tag %>
<p><label for="email">Email Address</label><br/>
<%= text_field_tag 'email' %></p>

<p><%= submit_tag 'I want to reset my password' %></p>
<%= end_form_tag %>


