.card-frame {
  margin: 1px 0;
  padding: 0 !important;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #aaa;
  border-bottom: 2px solid #ccc;
  border-right: 2px solid #ccc;
  width: 100%;  /*needed for ie6, or..?*/
  margin: 0;
  background: #fff;
  padding: 0;
}

html>body .open-view {
  width: auto;  /* so non-ie browsers do better with image floats */
}

.card-body {
  padding: 5px 12px;
}
.card-frame .card-body {
  min-height: 20px;
}


/*----- header ---------*/

.card-header {
  background: #8AB;
  padding: 5px 12px;
  margin: 0;
  text-align: left;
}
.card-header,
.card-header a,
.card-header h1 {
  color: #333
}

h1.card-title {
  padding: 2px 0;
  margin-right: 5px;
}
.card-header .instruction {
  border: 1px solid #887;
  background: #ddc;
  border-radius: 8px;
  -moz-border-radius: 8px;
}
.closed-view .card-menu-link  {
  float: none;
}
.card-menu {
  font-size: 11px;
}
.card-menu li {
  text-align: right;
}
.card-menu li a {
  color: #333;
}

.card-menu .ui-menu-icon {
  float: left;
  margin-right: 5px;
}

.card-menu-tappable {
  font-size: 18px;
}
.card-menu-tappable .ui-menu-icon {
  padding: 7px;
  display: inline-block;
  margin-right: 15px;
  background: #666;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
}
.card-menu-tappable .ui-menu-icon:after {
  content: '<';
}
.card-header .toggler {
  position: relative;
  top: 2px;
}




.name-editor input {
  width: 100%;
}
.name-editor.known-name input {
  border: 3px solid #c22;
}
.name-messages {
  font-style: italic;
  background: #ffd;
}

.ui-menu .ui-menu-item {
  padding: 2px 0;
}

.navbox-item-label {
  color: #777;
  font-size: 10px;
  float: left;
  width: 50px;
  padding: 3px 0 3px 25px;
  position: relative;  
}
.navbox-item-label > a.ui-icon {
  padding: 0;  
}
.cardtype {
  font-style: italic;
  font-size: 10px;
}
.current {
  background: #bbb;
  padding-bottom: 5px !important;
}


/*-------------  TABS -------*/

/* -------- view tab / content ----------------- */

.faint {
  color: #bbc;
}
.joint {
  color: #960;
}
a.wanted-card {
  color: #900
}
a.external-link,
.closed-content a.external-link {
  color: #729;
  background: url(external_link.png) center right no-repeat;
  padding-right: 13px !important;
}
a.email-link {
  color: #979
}
.missing-view a {
  color: #99b;
  display: inline;
  font-variant: small-caps;
}
.missing-view a:hover {
  color: #069;
  background: #ffc;
}


/* note:   ".card-slot .content-view div not(.editor)" was not working properly and was breaking nested block elements.
   without it nested divs in content-view areas probably won't highlight  */


/* ---------- edit tab / new / inline editing--------*/


fieldset {
  margin: 5px 1px;
  clear: both;
  float: none !important;
  border: 0;
}
fieldset > .button-area,
fieldset > .editor {
  float: right;
  width: 70%;
  padding: 3px;
}
fieldset > .button-area {
  padding: 0 3px;
}
fieldset > .editor > input {
  margin-left: 0;
}
fieldset > legend {
  white-space: inherit;
  float:left;
  text-align:right;
  width: 25%;
  padding: 3px;
  margin: 0;
}
fieldset > legend > .instruction {
  text-align: right;
  padding: 3px 0;
}
.button-area input,
.button-area button {
  margin-right: 2%;
}


/* for IE */

.conflict-view {
  text-align: left;
  background: #ffc;
  border: 1px solid grey;
  padding: 10px;
  margin-top: 12px;
}

/* ---------- changes tab -------*/


.revision-header {
  padding: 4px;
  text-align: center;
}
.revision-title {
  font-weight: bold;
}
.revision-content {
  margin: 0px 1px;
  padding: 10px 5px;
  background: #ffd;
}
.autosave-alert {
  font-weight: bold;
}
.revision-navigation {
  border-bottom: 1px solid silver;
}
.revision-navigation span {
   margin: 0px 10px
}

/*-------option ------*/

.new-account-link {
  text-align: center;
}


/*------------- multiple tabs / misc -----*/

.card-notice {
  background: #fff;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: #009;
  display: none;
  margin: 0 0 4px 0;
}


/*-------------- VIEWS -----------*/

/*-------------- content view ------ */
.content-view {
  display: inline;
}

/*-----------  titled view -------*/


.titled-view > .card-header {
   background: inherit;
}

.titled-view > .card-header,
.titled-view > .card-body {
  padding-left: 0;
  padding-right: 0;
}



/*------------- closed view -------*/


.closed-view {  
  background: #fff;
  border: 0;
  border-bottom: 1px solid #ccc;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  padding: 0;
  margin: 1px 0 0 0; 
}

.closed-content {
  font-size: 11px !important;
}

.closed-view .card-header {
  vertical-align: middle;
  line-height: 15px;
  -moz-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
  margin-right: 4px;
}



/*----------- Change View ---------*/

.change-view {
  padding: 5px 0px;
  border-bottom: 1px dotted grey;
}
.change-view .change-card{
  font-weight: bold;
}
.change-view .last-update {
  color: #666;
}
.change-view .last-edited {
  color: #7a7;
}

/*----------- Labeled View ---------*/



a.missing-labeled,
.labeled-view label {
  display: inline-block;
  min-width: 30%;
  text-align: right;
}





/* CARDTYPE_SPECIFIC ------------------------------*/


/*---------- ( Richtext )-------------*/

.table-of-contents {
  background: #eee;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 4px;
  margin: 5px 20px 20px 20px;
}
.table-of-contents h5 {
  margin: 0px 0px 0px 40px;
}
.table-of-contents ol {
  list-style-type: upper-roman;
}
.table-of-contents ol ol {
  list-style-type: upper-alpha;
  padding-left: 25px
}

/*-------------( Pointer )--------*/
ul.pointer {
  margin: 0px;
  padding: 0px;
}
.pointer-list-editor {
  margin: 0px;
  padding: 0px;
}
.pointer-list-editor input {
  margin-right: 10px;
  width: 65%;
}
.pointer-list-editor li {
  list-style: none;
  white-space: nowrap;
}
.pointer-list-editor .pointer-item-delete {
  margin-left: 4px;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  bottom: 2px;
}


/*-------------( Phrase)-----------*/

.phrasebox {
  width: 98%;
}

/*---------( Search ) ---------- */

.search-keyword {
  font-style: italic;
}
.search-no-results:after {
  content:'0 results';
}
.closed-content .search-no-results:after {
  content:'';
}
.search-count {
  float: right;
  color: #bbc;
}



/*---------(Search & Pointer) --------*/

div.pointer-list,
div.search-result-list {
  list-style: none;
  padding: 5px 0;
  margin: 0;
}
div.pointer-list .pointer-item,
div.search-result-list .search-result-item {
  margin: 0;
}
.search-result-item.item-link,
.pointer-item.item-link,
.search-result-item.item-name,
.pointer-item.item-name {
  text-indent: -15px;
  padding-left: 15px;
}
.radio-option-description,
.checkbox-option-description {
  margin-left: 40px;
}


/*---------( Set ) ---------- */

h2.set-label {
  padding-bottom: 10px;
}

/*-----------( Toggle ) -----------*/

.TYPE-toggle .content {
  font-style: italic;
}

/*----------- (Account Request)--------------*/

.invite-links {
  padding: 10px;
  margin-top: 10px;
  background: #ddd;
  text-align: center;
}
.invite-links a {
  font-weight: bold;
  margin: 0 20px;
}

/*------- permissions ------------------*/

.perm-section {
  margin-bottom: 20px;
}
.perm-section h5 {
  margin: 0 0 10px 0;
}


/*---------- comments -------------------------------------- */
.comment-box textarea {
  margin-bottom:5px;
}
.comment-box input {
  padding: 0px;
  font-size: 12px;
}
.comment-box {
  padding: 8px;
  margin: 0px;
}
.w-comment-author {
  font-style: italic;
  margin-left: 10px;
}

/*--------------*/
.ui-icon {
  background-image: url('images/ui-icons_454545_256x240.png')
}
.ui-loader {
  display: none;
}

