body {
  background: #ccc;
  color: #444;
  font-style: normal;
  margin: 0px;
  min-width: 480px;
}
body, p, ol, ul, td, th, textarea {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   12px;
  font-weight: normal;
}
body, p, ol, ul {
  line-height: 21px;
}

/*--------- headers and links --------------*/
h1 {
  font-size: 1.2em;
}
h2 {
  font-size: 1.1em;
}
h1, h2 {
  font-weight: bold;
  margin: 0px;
}
/* headers outside of cards */
h1.page-header,
h2.page-header {
  font-weight: normal;
  margin: 0 0 10px 0;
}
a {
  color: #279;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}



table {
  border-collapse: collapse;
  padding: 0;
}
th {
  color: #666;
  font-weight: normal;
  font-style: italic;
}
td, th {
  vertical-align: top;
  padding: 0px;
}
.table-row-odd {
  background: #cce;
}


/*---- headers --------*/
input[type=text],
input[type=password],
input[type=checkbox],
textarea,
select {
  padding-left: 3px;
  border: 1px solid #aaa;
  border-top: 2px solid #666;
  border-left: 2px solid #666;
  background: #f9f9ed;
}
body#tinymce {
  background: #f9f9ed;
}
input:focus,
select:focus,
textarea:focus,
body#tinymce:focus {
  background: #ffffee;
}
input[type=submit]:focus,
input[type=button]:focus {
  color: #000
}
textarea {
  width: 98%;
}
body.mceContentBody {
  margin: 4px;
}


/*-- miscellaneous --*/
form {
  margin: 0px;
  padding: 0px;
  display: inline;
}
p {
  margin: 0px;
}
hr {
  margin: 10px
}
img {
  border: 0px;
  vertical-align: middle;
}
li {
  margin-bottom: 2px;
}
label {
  color: #777;
}
pre {
  background-color: #eef;
  padding: 10px;
  font-family: monospace;
  font-size: 11px;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

