/*---- page layout */

#primary {
  margin: 0 1%;
  float: left;
  width: 67%;
}
#secondary {
  margin: 0 1%;
  float: right;
  width: 28%;
}


/* --------menu -------------*/

#menu {
  display: block;
  font-size: 14px;
  background: #8AB;
  margin-bottom: 20px;
  padding: 2px;
  overflow: hidden;
}
#menu a {
  color: #000;
  padding: 0px 4px;
}
#menu div {
  display: inline;
}
#menu #logging {  /* signing in and out */
  float:right;
  right: 0.5%;
  top: 2px;
}
#my-card-link {
  font-weight: bold;
}
.navbox {
  height: 18px;
  width: 30%;
}

/* -------  Secondary --------- */

#logo {
  text-align: center;
  padding: 10px;
  background: #fff;
  border: 1px solid #777;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
#logo a,
#logo a:link,
#logo a:visited {
  color: #448;
  text-decoration: none;
  text-align: center;
}
#logo img {
  max-width: 100%;
}


/* -- instructions ---*/

.help, .instruction {
  color: #440;
  text-align: center;
  padding: 4px 10px;
}
.instruction {
  display: inline-block;
}
/*--- errors -----*/

.exception p {
  margin: 15px;
}
.errors-view {
  margin: 10px;
  padding: 10px;
  border: 3px solid #966;
  background: #ffa;
  -moz-border-radius: 8px;
  border: 1px solid #777;
  border-bottom: 2px solid #888;
  border-right: 2px solid #888;
}
.render-error {
  background-color: #ecc !important;
  padding: 1px 20px;
  font-style: italic;
}
/*-------- Special Pages --------*/

/*-- sign in page --*/

#sign-in input#login_field,
#sign-in input#password,
#forgot-password input#email {
  width: 50%;
}
#forgot-password {
  margin-top: 40px;
}

/* -- extra boxes -----*/

#credit {
  margin: 30px 0;
}
#credit,
.flash-notice {
  color: #333;
  font-size: 1.1em;
  background: #fff;
  border: 1px solid #888;
  margin-bottom: 15px;
  padding: 5px;
  text-align: center;
}
