#primary {
  width: 100%
}
#secondary,
#menu,
.card-menu,
.cardtype,
.open-missing,
.add-edit-item {
  display: none !important;
}
.title {
  font-size: 15px;
}
.card-slot.paragraph .content {
  overflow: visible !important;
}
body#wagn {
  color: #444;
  font-style: normal;
}
body, p, ol, ul, td, th {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   12px;
  font-weight: normal;
  line-height: 21px;
}
p {
  margin: 0px;
}
a {
	color: #484;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
h1 {
  font-size: 15px;
}
h2 {
  font-size: 13px;
}
h1, h2 {
  font-weight: bold;
  margin: 0px;
}
