.settings-tab {
  border: 0px;
  margin-bottom: 20px;
  padding: 5px 15px;
}
.set-select {
  margin: 10px;
}
.set-rules {
  width: 100%;
}
.set-rules th {
  background: #aaa;
  color: #eee;
  padding: 5px 0;
}
.set-rules th,
.set-rules td.rule-cell {
  text-align: left;
  border-bottom: 1px solid #eee;
  padding: 2px 5px;
}
.rule-setting {
  font-weight: bold;
}
td.rule-setting {
  width: 30%;
}
.closed-rule .rule-set {
  color: #666;
  white-space: nowrap;
}
.rule-type-field {
  max-width: 70%;
  margin-right: 5px;
}
.closed-rule {
  height: 30px;
}
.closed-rule td {
  vertical-align: middle;
}
.closed-rule .rule-content {
  width: 350px;
}
.rule-content-container {
  width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: inherit;
  background: inherit;
  white-space: nowrap;
}
.rule-content-container .closed-content,
.rule-content-container .closed-content .pointer-list,
.rule-content-container .closed-content .search-list {
  margin: 0;
}
td.missing-rule {
  background-color: #eee;
  border-bottom: 1px solid #fff;
}

.open-rule .rule-setting {
  padding-top: 4px;
  float: left;
}
.open-rule .card-editor {
  clear: both;
  padding: 5px;
}

.open-rule .set-editor ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.open-rule .set-editor .current-set-label {
  font-weight: bold;
}
.open-rule .edit-button-area {
  clear:both;
  padding-top: 5px;
}
.open-rule .instruction {
  float: right;
}


.attention {
  border: 3px solid red;
}
.rule-delete-section {
  float: right;
}
