
/*
This "standard" CSS provides styles for aspects of wagn sites not usually prioritized by skin designers.

It includes basic styling for:

  1. wagneer interface (sets, settings, rules)
  2. editor interface (forms, fieldsets, menus, navbox, history)
  3. views that by definition alter default styling (closed, labeled)
  4. error handling
  5. key default content for new installs (home page, sidebar)
  
Most colors are greyscale; any that aren't are explained with comments beginning with "NOTGREY"

Note that this CSS is taken from code so that it will be updated automatically with releases.
If you don't want certain rules, you may (a) override them, or (b) choose not to include this card
in your skin.  Choosing (b) will mean your CSS will not be affected by automated updates.
*/

@mixin no_external_icon {
  list-style-type: none;
  padding-right: 0 !important;
  background: inherit;
}


/*-------------------- */
/*- DYNAMIC ELEMENTS - */
/*-------------------- */


/* -- card menus -- */

.card-menu {
  font-size: 11px;
  li {
    text-align: right;
    a {
      color: #333;
    }
  }
  .ui-menu-icon {
    float: left;
    margin-right: 5px;
  }
}
.ui-menu .ui-menu-item {
  padding: 2px 0;
}

.card-menu-tappable {
  font-size: 18px;
  .ui-menu-icon {
    padding: 7px;
    display: inline-block;
    margin-right: 15px;
    background: #666;
    border-radius: 3px;
    color: #fff;
    font-size: 10px;
  }
  .ui-menu-icon:after {
    content: '<';
  }
}
 

/* related view (used by many menu items)  */

.related-view > .card-body  {
 background: #bbb;
 padding: 5px;
 > .ALL  {
   background: #fff;
   > .card-header {
     background: #ddd;
     padding: 5px;
     h1 {
       color: #000;
     }
   }
   > .card-body {
      padding: 8px 2%;
   }
 }
} 

/* navboxes */

.navbox-item-label {
  color: #777;
  font-size: 10px;
  width: 50px;
  padding: 3px 0 3px 25px;
}
.navbox-item-label > a.ui-icon {
  padding: 0;  
}


/*-------------------- */
/*- ONE-LINE VIEWS   - */
/*-------------------- */

.closed-view {
  width: 100%;
}
.closed-content {
  table, tbody, tr, th, td, p, h1, h2, h3, h4, h5, h6, ul, li, pre, ol, div, span, a, blockquote, img {
    font-size: 1em !important;
    margin: 0 6px 0 0;
    padding: 0 !important;
    border:  0 !important;
  }
  a {
    margin: 0;
  }
  img {
    max-height: 1em;
    width: auto;
  }
}

.labeled-view {
  label h1, .pointer-list, .pointer-item, .search-result-list, .search-result-item {
    font-size: 1em;
  }
}


a.missing-labeled,
.labeled-view label {
  display: inline-block;
  min-width: 30%;
  text-align: right;
}



/*-------------------- */
/*- EDIT INTERFACE   - */
/*-------------------- */



fieldset {
  margin: 5px 1px;
  border: 0;
  
  > .button-area {
    width: 70%;
    padding: 0 3px;
    input,
    button {
      margin-right: 2%;
    }
  }
    
  > .editor {
    width: 70%;
    padding: 3px;
    > input {
      margin-left: 0;
    }
  }
  
  > legend {
    text-align:right;
    width: 25%;
    padding: 3px;
    margin: 0;
    > .instruction {
      text-align: right;
      padding: 3px 0;
    }
  }
}

/* name editor  */

.name-editor input {
  width: 100%;
}
.name-editor.known-name input {
  border: 3px solid #c22; /* NOTGREY - red for warning */
}
.name-messages {
  font-style: italic;
  background: #ffd;  /* NOTGREY - yellow for highlighting */
}

/* -- template-editor (editing template rule inclusions inline) -- */

.template-editor-main.card-frame {
  width: 85%;
}
.template-editor-left,
.template-editor-right {
  width: 5%;
  text-align: center;
  font-size: 3em;
  line-height: 2em;
}



.pointer-list-editor {
  margin: 0px;
  padding: 0px;
  input {
    margin-right: 10px;
    width: 65%;
  }
  li {
    list-style: none;
    white-space: nowrap;
  }
  .pointer-item-delete {
    margin-left: 4px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    bottom: 2px;
  }
}

.new-account-link {
  text-align: center;
}



/*-------------------- */
/*- SEARCH & POINTER - */
/*-------------------- */


div.pointer-list,
div.search-result-list {
  list-style: none;
  padding: 5px 0;
  margin: 0;
}
div.pointer-list .pointer-item,
div.search-result-list .search-result-item {
  margin: 0;
}
.search-result-item.item-link,
.pointer-item.item-link,
.search-result-item.item-name,
.pointer-item.item-name {
  text-indent: -15px;
  padding-left: 15px;
}
.radio-option-description,
.checkbox-option-description {
  margin-left: 40px;
}

ul.pointer {
  margin: 0px;
  padding: 0px;
}

/*-------------------- */
/*- HISTORY          - */
/*-------------------- */



.revision-header {
  padding: 4px;
  text-align: center;
}
.revision-title {
  font-weight: bold;
}
.revision-content {
  margin: 0px 1px;
  padding: 10px 5px;
}
.autosave-alert {
  font-weight: bold;
}
.revision-navigation {
  border-bottom: 1px solid silver;
  span {
    margin: 0px 10px
  }
}
ins.diffmod,
.diffins {
  background: #aea;  /* NOTGREY - green for additions */
}
del.diffmod,
.diffdel {
  background: #eaa;  /* NOTGREY - red for deletions */
}



/*-------------------- */
/*- ERRORS / NOTICES - */
/*-------------------- */


.exception p {
  margin: 15px;
}
.errors-view {
  margin: 10px;
  padding: 10px;
  border: 3px solid #966;   /* NOTGREY - red for error */
  background: #ffa;
  -moz-border-radius: 8px;
  border: 1px solid #777;
  border-bottom: 2px solid #888;
  border-right: 2px solid #888;
  color: #333;
}
.render-error {
  background-color: #eaa !important;  /* NOTGREY - red for error */
  padding: 1px 20px;
  font-style: italic;
}

.card-notice {
  background: #fff;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin: 0 0 4px 0;
}


/*-------------------------- */
/*- KEY DEFAULT CONTENT    - */
/*-------------------------- */

.SELF-home-original > .content {
  ul {
    list-style-type: none;
    margin: 1em;
    padding: 0;
  }
  li {
    padding: .8em;
    margin: 0;
    background: #eee
  }
  li:nth-child(even) {
    background: #ddd;
  }
  h1 {
    font-size: 1.5em;
    padding: .6em 0 .3em 0
  }
  aside {
    float:right;
    border: 1px solid #999;  
    background: white;
    width: 33%;
    padding: 1em;
    margin: 36px 16px 2px 5px;
    overflow: auto;
    border-radius: 18px;
    text-align: center;
    h2 {
      font-size: .9em;
    }
    p {
      font-size: .8em;
    }
  }
  p > a.external-link {
    @include no_external_icon;
  }
}


#secondary {
  > div {
    .SELF-wagneer_menu > .content {
      > p {
        margin-left: 6%;
        text-indent: -6%;
      }
      a.external-link {
        @include no_external_icon;
      }
    }

    > a > .SELF-Xlogo.content-view,
    > .SELF-Xcredit.content-view {
      display: block;
      text-align: center;
      padding: 10px;
      background: #fff;
      border: 1px solid #bbb;
      -moz-border-radius: 8px;
      border-radius: 8px;
      img {
        max-width: 100%;
      }
      a {
        color: #186886; /* NOTGREY - Wagn blue */
      }
    }
  }  
}


/*-------------------------- */
/*- SETS, SETTINGS, RULES  - */
/*-------------------------- */


.setting-rules,
.set-rules {
  width: 100%;
}
.setting-rules th,
.set-rules th {
  background: #aaa;
  color: #eee;
  padding: 5px 0;
}
.setting-rules th,
.setting-rules td,
.set-rules th,
.set-rules td.rule-cell {
  text-align: left;
  padding: 2px 5px;
}
.set-rules th,
.set-rules td.rule-cell {
  border-bottom: 1px solid #eee;
}
.setting-klass,
.rule-setting {
  font-weight: bold;
}
td.rule-setting {
  width: 30%;
}
.rule-set {
  color: #666;
  white-space: nowrap;
}
.rule-type-field {
  max-width: 70%;
  margin-right: 5px;
}
.closed-rule {
  height: 30px;
  td {
    vertical-align: middle;
  }
  .rule-content {
    width: 350px;
  }
}

.rule-content-container {
  width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: inherit;
  background: inherit;
  white-space: nowrap;
}
.rule-content-container {
  .closed-content,
  .closed-content .pointer-list,
  .closed-content .search-list {
    margin: 0;
  }
}
td.missing-rule {
  background-color: #eee;
  border-bottom: 1px solid #fff;
}
.rule-setting {
  padding-top: 4px;
}
.open-rule .rule-setting {
  width: 28%;
  float: left;
}
.open-rule .card-body {
  clear: both;
}
.open-rule .instruction {
  float: right;
  text-align: left;
  max-width: 68%;
}
.edit-rule {
  .set-editor {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .current-set-label {
      font-weight: bold;
    }
  }
  .edit-button-area {
    clear:both;
    padding-top: 5px;
  }
}
.attention {
  border: 3px solid red;
}
.rule-delete-section {
  float: right;
}
.show-rule .rule-set {
  margin-bottom: 10px;
}
.klass-row {
  background: #eee;
  border-top: 1px solid #ddd;
}
tr.rule-changeover td {
  border-top: 1px solid #eee;
  padding-top: 5px;
}
td.rule-anchor {
  padding-left: 30px;
}
a.setting-link {
  font-style: italic;
  margin-left: 2%;
  font-weight: normal;
  color: #000;
  white-space: nowrap;
}
h2.set-label {
  padding-bottom: 10px;
}


/*------- permissions ------------------*/

.perm-section {
  margin-bottom: 20px;
}
.perm-section h5 {
  margin: 0 0 10px 0;
}



/*-------------------------- */
/*- MISCELLANEOUS          - */
/*-------------------------- */

table {
  border-collapse: collapse;
}

.ui-icon {
  background-image: url([[/assets/images/ui-icons_454545_256x240.png]])
}

.instruction {
  text-align: center;
  padding: 4px 10px;
  ol,
  ul {
    text-align: left;
  }
}


html>body .open-view {
  width: auto;  /* so non-ie browsers do better with image floats */
}
