body {
  background: #ccc;
  color: #444;
  font-style: normal;
  margin: 0px;
  min-width: 480px;
}
body, p, ol, ul, td, th, textarea {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   12px;
  font-weight: normal;
}
body, p, ol, ul {
  line-height: 21px;
}

/*--------- headers and links --------------*/
h1 {
  font-size: 1.2em;
}
h2 {
  font-size: 1.1em;
}
h1, h2 {
  font-weight: bold;
  margin: 0px;
}
a {
  color: #279;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}

.instruction {
  color: #440;
}



th {
  color: #666;
  font-weight: normal;
  font-style: italic;
}
td, th {
  vertical-align: top;
  padding: 0px;
}

/*---- headers --------*/
input[type=text],
input[type=password],
input[type=checkbox],
textarea,
select {
  padding-left: 3px;
  border: 1px solid #aaa;
  border-top: 2px solid #666;
  border-left: 2px solid #666;
  background: #f9f9ed;
}
body#tinymce {
  background: #f9f9ed;
}
input:focus,
select:focus,
textarea:focus,
body#tinymce:focus {
  background: #ffffee;
}
input[type=submit]:focus,
input[type=button]:focus {
  color: #000
}
textarea {
  width: 98%;
}
body.mceContentBody {
  margin: 4px;
}
input, select {
  max-width: 100%;
}

/*-- miscellaneous --*/
form {
  margin: 0px;
  padding: 0px;
  display: inline;
}
p {
  margin: 0px;
}
hr {
  margin: 10px
}
img {
  border: 0px;
  vertical-align: middle;
}
li {
  margin-bottom: 2px;
}
label {
  color: #777;
}
pre {
  background-color: #eef;
  padding: 10px;
  font-family: monospace;
  font-size: 11px;
}



#menu {
  font-size: 14px;
  background: #8AB;
  margin-bottom: 20px;
  padding: 2px;
 a {
    color: #000;
    padding: 0px 4px;
  }
  div {
    display: inline;
  }
  #logging {  /* signing in and out */
    float:right;
    right: 0.5%;
    top: 2px;
  }
  #my-card-link {
    font-weight: bold;
  }
  .navbox {
    height: 18px;
    width: 30%;
  }
}

/* -------  Secondary --------- */

#logo {
  text-align: center;
  padding: 10px;
  background: #fff;
  border: 1px solid #777;
  -moz-border-radius: 8px;
  border-radius: 8px;
  a,
  a:link,
  a:visited {
    color: #448;
    text-decoration: none;
    text-align: center;
  }
  img {
    max-width: 100%;
  }
}


/*-------- Special Pages --------*/

/*-- sign in page --*/

#sign-in input#login_field,
#sign-in input#password,
#forgot-password input#email {
  width: 50%;
}
#forgot-password {
  margin-top: 40px;
}

/* -- extra boxes -----*/

#credit {
  margin: 30px 0;
}
#credit,
.flash-notice {
  color: #333;
  font-size: 1.1em;
  background: #fff;
  border: 1px solid #888;
  margin-bottom: 15px;
  padding: 5px;
  text-align: center;
}
