/*
This "traditional" styling is for backwards compatibility.  It is not intended for use in Wagns created after version 1.12.

There are two types of rules here:
  1. rules applying to selectors no longer included in standard layouts (#menu, #logo, #credit)
  2. rules enforcing now-deprecating styling patterns

*/

/* #menu is being replaced with #header */
#menu {
  font-size: 14px;
  background: #8AB;
  margin-bottom: 20px;
  padding: 2px;
 a {
    color: #000;
    padding: 0px 4px;
  }
  div {
    display: inline;
  }
  #logging {  /* signing in and out */
    float:right;
    right: 0.5%;
    top: 2px;
  }
  #my-card-link {
    font-weight: bold;
  }
  .navbox {
    height: 18px;
    width: 30%;
  }
}

/* -------  Secondary --------- */

/* #logo is being replaced with *logo card slot wrappers */
#logo {
  text-align: center;
  padding: 10px;
  background: #fff;
  border: 1px solid #777;
  -moz-border-radius: 8px;
  border-radius: 8px;
  a,
  a:link,
  a:visited {
    color: #448;
    text-decoration: none;
    text-align: center;
  }
  img {
    max-width: 100%;
  }
}

/* #credit is being replaced with *credit card slot wrappers */
#credit {
  margin: 30px 0;
}



/*
The following are specifically NOT recommended but are included here to avoid disrupting behavior in old sites
*/

/* best not to overspecify these properties */
body, p, ol, ul, td, th, textarea {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   12px;
  font-weight: normal;
}
body, p, ol, ul {
  line-height: 21px;
}

/* creates lots of inline divs.  confusing */
.content-view {
  display: inline;
}

textarea,
.phrasebox {
  width: 98%;
}



/* titled view formerly did not have a styled header */
.titled-view > .card-header {
   background: inherit;
}

.titled-view > .card-header,
.titled-view > .card-body {
  padding-left: 0;
  padding-right: 0;
}

h1.card-title {
  padding: 2px 0;
  margin-right: 5px;
}


