<% command = slot.expand_inclusions( card.content ) %>
<%= 
  begin
    if System.enable_server_cards
      Shellbox.new.run( command )
    else  
      'sorry, server cards are not enabled' #ENGLISH
    end
  rescue Exception=>e
    e.message
  end
%>
