<div class="exception">
	<h2>Denied!</h2>
  <p><%= @exception.message %></p>
	<% if User.current_user.login=='anon' %>
		<p>Maybe you need to <%= link_to 'Sign In', '/account/login' %>?</p>
	<% end %>  
	<em>403 Forbidden</em>
</div>

