<div class="exception">
	<h2>Oh, Man.  You uncovered a bug in Wagn.</h2>
	<p><%= @exception ? @exception.message : '' %></p>
	<p>An email about this error has been sent to the authors of Wagn</p>
  <em>500 Internal Server Error</em>
</div>