<div id="credit">
  Wheeled by 
  <%= link_to "Wagn", 'http://www.wagn.org', :title=>"Grass Commons wishes you well." %>
  v.<%= link_to Wagn::Version, "http://www.wagn.org/wagn/Wagn_#{Wagn::Version}", :title=>'Very well, indeed.' %>
</div>
