<div id="logo">
  <span id="logo-card" class="card-slot">
    <% if image_src = System.logo %>
      <a href="/"><img border="0" src="<%= image_src %>"></a>
    <% else%>
      <a href="/"><%= site_name %></a>
    <% end %>
  </span>
</div>