<% @default_layout = capture do %>
<!DOCTYPE HTML>
<html>
  <head>
    {{*head|naked}}
  </head>
  
  <body id="wagn">
    <header id="menu">
      [[/ | Home]]   [[/recent | Recent]]   {{*navbox|naked}} {{*account links|naked}}
    </header>
    
    <section id="primary">
      {{_main}}
    </section>
    
    <section id="secondary">
      <div id="logo">[[/ | {{*logo|naked}}]]</div>
      {{*sidebar|naked}}
      <div id="credit">Wheeled by  [[http://www.wagn.org|Wagn]] v. {{*version|naked}}</div>
      {{*alerts}}
    </section>
    
    {{*foot|naked}}
  </body>
</html>
<% end %>


<%= Slot.new(
  System.layout_card(params[:layout],:default=>@default_layout, :card=>@card), 
  "0_0", "view", self, :main_content=>@content_for_layout
 ).render(:naked) %>

