<html>
  <%= render :partial=>'layouts/head' %>
  
  <body class="wagn">
	  <%# FIXME: the body has a css identifier because the wikiwyg editor has a different "body", currently sans identifier.  Kind of a hack, but it means that we can set defaults for wagn pages that are different from defaults for html within a card.  One shallow issue is that 'wagn' should be an id, not a class, but that will break lots of local.css files, so we should be deliberate about changing this. %>	
	  		
  <%= render :partial=>'layouts/top_menu' %>

  <%# params.inspect %>

  <div id="page-right">
	  <%= render :partial=>'layouts/logo' %>

		<div id="sidebar" context="sidebar">
			<%= WagnHelper::Slot.new(CachedCard.get("*sidebar"), "sidebar_1").render(:raw) %>
			<%= render :partial=>'admin/navigation' %><%# FIXME: move this into a card somehow? %>			  
		</div>
		
    <%= render :partial=>'layouts/bottom_menu' %>
	</div>

  <div  id="page-left">
    <%= render :partial=>'layouts/alerts' %>
		<div id="main" context="main"><%= yield %></div>
	</div>  
    
  </body>
</html>

