<html>
  <head>
    <%= render :partial=>'builtin/head' %>
  </head>
  
  <body class="wagn">		
	  
		<div id="main" context="main"><%= yield %></div>

		<%= render :partial=>'builtin/foot' %>
  </body>
</html>

