<% @lay_content = capture do %>
<!DOCTYPE HTML>
<html>
  <head>
    {{*head}}
  </head>

  <body id="wagn" class="noside">
    <div id="menu">
      [[/ | Home]]   [[/recent | Recent]]   {{*navbox}} {{*account links}}
    </div>

    <div>
      {{*alerts}}
      {{_main}}
      <div id="credit">Wheeled by [[http://www.wagn.org|Wagn]] v. {{*version}}</div> <%#ENGLISH%>
    </div>

    {{*foot}}
  </body>
</html>
<% end %>
<%= render_layout_content(@lay_content) %>
