<html>
  <%= render :partial=>'layouts/head' %>
  
  <body id="noside" class="wagn">

  <%= render :partial=>'layouts/top_menu' %>
	  
	<%= render :partial=>'layouts/alerts' %>
    
	<div id="main" context="main"><%= yield %></div>
	  		
  <%= render :partial=>'layouts/bottom_menu' %>
  <%= google_analytics %>   

  </body>
</html>

